<div class="welcome-page">
    <div>
        <div class="wrapper row2">
            <div id="container" class="clear">
              <div id="fof" class="clear">
                <div class="hgroup">
                  <h1><span><strong>4</strong></span><span><strong>0</strong></span><span><strong>4</strong></span></h1>
                  <h2>Sorry! <span> Page not found</span></h2>
                </div>
                <p><a href="javascript:history.go(-1)">&laquo; Go Back</a></p>
              </div>
            </div>
          </div>
    </div>
</div>





