<section>
    <div *ngIf="!isMobile" id="div-1a" class="d-none d-sm-block">
        <div class="table-container">
            <div id="div_a" class="center">
                <font color="white">
                    <b>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Welcome To Spured</p>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Join the conversation</p>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Learn to enjoy every minute of your life.</p>
                    </b>
                </font>
            </div>
        </div>
    </div>

    <div [class.div-1b]="!isMobile" [class.mobilePadding]="isMobile">
        <div [class.table-container]="!isMobile">
            <div [class.div_b]="!isMobile">
                <div *ngIf="!emailSent">
                    <h4><b>Forgotten Password</b></h4>
                    <h6><small>Enther the email address associated with your account and we will email you a link to
                            reset your password.</small></h6>
                    <form (ngSubmit)="sendPassword()" [formGroup]="PasswordResetForm">
                        <mat-form-field class="example-full-width">
                            <input matInput type="email" placeholder="Email" formControlName="email">
                        </mat-form-field>
                        <div class="row">
                            <fieldset [disabled]=" btnTxt=='Sending..'">
                                <button type="submit" class="btn btn-default btn-sm btnShape  btn-sm" [disabled]="PasswordResetForm.invalid">{{btnTxt}}</button>
                            </fieldset>
                        </div>
                    </form>
                </div>
                <div *ngIf="emailSent">
                    <p class="fontGreen">An email has been sent to {{emailId}}. If an account exists with that email address, it should arrive within minutes.</p>
                    <p class="fontGreen">(Hint: Don't forget to check your SPAM folder)</p>
                </div>
            </div>
        </div>
    </div>
</section>