.linkGray{
  color: gray;
  font-size: 13px;
}

.center {
  margin: auto;
  margin-top: 30%;
  width: 310px;
  padding: 10px;
}

.leftCenter {
  margin: auto;
  margin-top: 42%;
  width: 65%;
  padding: 10px;
}


.btnShape{
  border-radius: 18px;
  background-color: #1da1f2;
  color: white;
  font-weight: bold;
}

.loginButton{
  background-color: white;
  color: #1da1f2;
  font-weight: bold;
  border-radius: 18px;
}

.fontText{
  display: flex;
  font-size: 18px;
  font-weight: bold;
  line-height: 24px;
  position: relative;
}

.signUpBtnMar{
  margin-top: 15%;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
