<div *ngIf="errorTextMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errorTextMessage }}</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<form (ngSubmit)="saveUserSetUp()" [formGroup]="UserSetUpForm" *ngIf="!signUpDone">
    <div class="row">
        <div class="col-md-6 form-row">
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="First Name" formControlName="firstName">
            </mat-form-field>

        </div>
        <div class="col-md-6 form-row">
            <mat-form-field class="example-full-width">
                <input matInput type="text" placeholder="Last Name" formControlName="lastName">
            </mat-form-field>

        </div>
    </div>
    <!-- <div class="form-row marT12">

        <mat-form-field class="example-full-width">
            <input matInput type="text" placeholder="Profile id" formControlName="profileIdDummy">
            <mat-hint *ngIf="UserSetUpForm.controls['profileId'].valid">Available</mat-hint>
            <mat-hint *ngIf="UserSetUpForm.controls['profileId'].invalid && UserSetUpForm.controls['profileIdDummy'].value?.length > 0">Not available</mat-hint>
        </mat-form-field>

    </div> -->
    <!-- <div class="form-group marT12">
        <label>Gender </label>&nbsp;

        <mat-radio-group formControlName="gender">
            <mat-radio-button value="m">Male </mat-radio-button>
            <mat-radio-button value="f">Female </mat-radio-button>
        </mat-radio-group> -->
        <!--<div class="form-check form-check-inline">
                                        <input class="form-check-input" name="gender" formControlName="gender" type="radio" value="m"
                                            #male>
                                        <label class="form-check-label" for="inlineRadio1">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" name="gender" formControlName="gender" type="radio" value="f"
                                            #female>
                                        <label class="form-check-label" for="inlineRadio2">Female</label>
                                    </div>-->
    <!-- </div> -->

    <div class="form-row">

        <mat-form-field class="example-full-width">
            <input matInput type="email" placeholder="Email address" formControlName="email">
        </mat-form-field>
        <div *ngIf="fControl.email.invalid && (fControl.email.dirty || fControl.email.touched)">
            <label class="fntRed" *ngIf="fControl.email.errors.required">
                Email is
                <strong>required</strong>
            </label>
            <label class="fntRed" *ngIf="fControl.email.errors.email">
                Please enter a valid email address
            </label>
        </div>
    </div>
    <div class="form-row marT12">
        <mat-form-field class="example-full-width">
            <input matInput type="password" placeholder="Password" formControlName="password">
        </mat-form-field>
        <div *ngIf="fControl.password.invalid && (fControl.password.dirty || fControl.password.touched)">
            <label class="fntRed" *ngIf="fControl.password.errors.required">
                Password is
                <strong>required</strong>
            </label>
            <label class="fntRed" *ngIf="!fControl.password.errors.required && UserSetUpForm.controls['password'].value?.length<8">
                Password should conatain at least 8 character
            </label>
        </div>
    </div>
    <fieldset [disabled]="btnText == 'Creating new user..'">
        <button type="submit" style="background: #155a24;" class="btn btn-default btn-sm btnShape  btn-block marT12" [disabled]="UserSetUpForm.invalid">{{btnText}}</button>
    </fieldset>
    <!-- <p class="signUpBtnMar text-center">
        <b>Already have an account?</b>
    </p> -->
    <!-- <button type="button" class="btn btn-primary btn-sm loginButton btn-block" (click)="redirectLogin()">Log In
    </button> -->
    <!-- <button *ngIf="!isValidUser" style="background: #155a24;" type="button" class="btn btn-default btn-sm btnShape  btn-block"
        routerLink="/feed">Continue as guest</button> -->
</form>
<div *ngIf="signUpDone">
    <p class="fontGreen">An email has been sent to {{mailId}}. If an account exists with that email address, it should arrive within minutes.</p>
    <p class="fontGreen">(Hint: Don't forget to check your SPAM folder)</p>
    <fieldset [disabled]="resendBtnTxt == 'Sending..'">
        <button (click)="resendActivationMail()" style="background: #155a24;" type="button" class="btn btn-default btn-sm btnShape  btn-block">
            {{resendBtnTxt}}
        </button>
    </fieldset>
</div>