<div [@routerTransition]>

    <div class="col-xl-12">
        <ol class="breadcrumb breadnew">
            <li class="breadcrumb-item">
                <a [routerLink]="['/fms/dashboard']">Home</a>
            </li>
            <li class="breadcrumb-item">
                    <a [routerLink]="['/fms/vehicle/dashboard']">Vehicle</a>
            </li>
            <li class="breadcrumb-item active">List Of Off Road Vehicles</li>
        </ol>
    </div>
    <div class="content" style="margin-top: -50px;">
        <div class="row">
           <div class="col-xl-4 text-xs-left">
           </div>
           <div class="col-xl-4 text-xs-center">
           </div>
           <div class="col-xl-2 text-xs-center">
           </div>
           <div class="col-xl-2 text-xs-right">
              <div class="float-right" style="margin-bottom: 9px; margin-right: -13px;">
                <button [routerLink]="['/fms/vehicle-offroad/create']" class="btn btn-primary pull-right" type="button"> <i class="fa fa-plus"></i> Add Vehicle Off Road</button>
              </div>
           </div>
        </div>
     </div>
    <div class="container">
        <div class="bs-top  col-xl-12 fcard">
            <div class="content" *ngIf="showTable">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Vehicle</th>
                                <th>EME</th>
                                <th>Pilot</th>
                                <th>ContactNumber</th>
                                <th>VehicleOffTime</th>
                                <th>ExpcectedRecoveryTime</th>
                                <th>Estimate Cost</th>
                                <th>Reason</th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor='let data of listOfOffRoadVehicles.content'>
                                <td>{{data.vehicleNumber ? data.vehicleNumber : '-NA-'}}</td>
                                <td>{{data.emeName ? data.emeName : '-NA-'}}</td>
                                <td>{{data.pilotName ? data.pilotName : '-NA-'}} </td>
                                <td>{{data.contactNumber ? data.contactNumber : '-NA-'}}</td>
                                <td>{{data.vehicleOffTime ? data.vehicleOffTime : '-NA-'}}</td>
                                <td>{{data.estimatedRecoveryTime ? data.estimatedRecoveryTime : '-NA-'}}</td>
                                <td>{{data.estimatedCost ? data.estimatedCost : '-NA-'}}</td>
                                <td> <a href="javascript:void(0)" (click) = "showOffRoadReasons(data.id)" > View</a> </td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <br>
                    <!-- pagination -->
                    <div class="text-center" style="margin-left: 300px">
                        <ngb-pagination [collectionSize]="listOfOffRoadVehicles.totalElements" [(page)]="page" (pageChange)="getAllOffRoadVehicles()" [rotate]="true"
                            [boundaryLinks]="true"></ngb-pagination>
                    </div>
            </div>
                    <div *ngIf="noRecordFound" class="text-center">
                            <font color="red"> No OffRoad vehicle found</font>
                    </div>
        </div>
    </div>
    <div *ngIf="showSpinner" class="spinner">
            <mat-progress-spinner  [color] = "color" [mode] = "mode"></mat-progress-spinner>  
    </div>
    <div *ngIf="showSpinner" class="spinnerOverlay"></div>
</div>