<div *ngIf="errorTextMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
    <strong>{{ errorTextMessage }}</strong>
</div>
<h5 *ngIf="!emailSent" class="text-center">
    <b> Forgotten Password</b>
</h5>
<h6 *ngIf="!emailSent">
    <small>Please Enter your email address associated with your SpurEd account. You will receive a link to your email.</small>
</h6>
<br>
<form *ngIf="!emailSent" (ngSubmit)="sendPassword()" [formGroup]="PasswordResetForm">
    <mat-form-field class="example-full-width">
        <input matInput type="email" placeholder="Email address" formControlName="email">
    </mat-form-field>
    <div class="row">
        <fieldset class="col-md-12" [disabled]=" btnTxt=='Sending..'">
            <button type="submit" style="background: #155a24;" class="btn btn-default  btn-sm btnShape btn-block" [disabled]="PasswordResetForm.invalid">{{btnTxt}}</button>
        </fieldset>
    </div>
</form>
<div *ngIf="emailSent">
    <p class="fontGreen">An email has been sent to {{emailId}}. If an account exists with that email address, it should arrive within minutes.</p>
    <p class="fontGreen">(Hint: Don't forget to check your SPAM folder)</p>
</div>
<!-- <br>
<div>
    <button type="button" class="btn btn-primary btn-sm loginButton btn-block" routerLink="/login">Log In
    </button>
    <button type="button" class="btn btn-primary btn-sm loginButton btn-block" routerLink="/signup">Sign Up
    </button>
</div> -->