<div class="col-md-8 login-page signup mylogin">

    <div class="  income text-center marb20">
        <h1 class="icon">
            <img src="assets/images/favicon.ico" class="img-circle special-img signup-icon">
        </h1>
        <h3>Welcome to Noticer </h3>

    </div>
    <div *ngIf="showSpinner" class="spinner">
        <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
    </div>
    <div *ngIf="showSpinner" class="spinnerOverlay"></div>

    <p-growl baseZIndex="100" [(value)]="msgs"></p-growl>
</div>