<section>
    <!--<div class="card" style="background: #f0f4fb;">
        <div class="card-body">
            <b>Welcome to Spured!</b>
            <p> it's a knowledge networking</p>
        </div>
    </div>-->

    <div class="card text-center mb-3">
      <div class="card-body">
        <h5 class="card-title">Welcome to Spured!</h5>
     
        <h6 class="text-muted">
          it's a knowledge networking.
        </h6>
        
      </div>
    </div>
 
    <!-- <div class="card text-right text-white bg-success bg-noticer mb-3" style="background: #f0f4fb;">
        <div class="card-body">
           <ui-clock></ui-clock>
        </div>
    </div> -->
</section>