

.marTop50
{
    margin-top: 80px;
}

.hrMargin{
    margin-top: 1px;
    margin-bottom: 1px;
}

.newNotification{
    background: #c2dcef;
}

.readNotification{
    background: #efefef;
}

.chat {
    margin: 0;
    padding: 0;
    list-style: none;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #999999;
}
.pull-left {
    float: left!important;
}
.chat li.left .chat-body {
    margin-left: 60px;
}
.img-circle {
    border-radius: 50%;
}

.list-group-notification-item{
	padding :10px !important;
}
