<div class="container db-social">
    <div class="jumbotron jumbotron-fluid"></div>
    <div class="">
        <div class="row justify-content-center">
            <div class="col-xl-11">
                <div class="widget head-profile has-shadow">
                    <div class="widget-body pb-0">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-end justify-content-md-end justify-content-center">
                                <div class="follow">
                                    <!--<a class="btn btn-shadow" href="#"><i class="la la-user-plus"></i>Add Friend</a>
                                    
                                    <div class="actions dark">
                                        <div class="dropdown">
                                            <button type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle">
                                                <i class="la la-ellipsis-h"></i>
                                            </button>
                                            <div class="dropdown-menu" x-placement="bottom-start" style="display: none; position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 35px, 0px);">
                                                <a href="#" class="dropdown-item">
                                                Report
                                                </a>
                                                <a href="#" class="dropdown-item">
                                                Block
                                                </a>
                                            </div>
                                        </div>
                                    </div>-->
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-center">
                                <div class="image-default">
                                    <!--<img class="rounded-circle" [src]="profileImage"  alt="...">-->
                                    <a data-lightbox="img" data-title="Profile Picture" href="{{profileImage}}">
                                        <img [src]="profileImage" class="rounded-circle">
                                    </a>

                                </div>
                                <div class="infos">
                                    <div class="font-weight-bold">{{userDetails && userDetails.userName ?
                                        userDetails.userName : '-NA-'}}</div>
                                    <div class="font-weight-normal" *ngIf="userDetails?.phoneNum"><i class="fas fa-mobile-alt"></i>
                                        {{ userDetails?.phoneNum }} </div>
                                    <div class="font-weight-normal" *ngIf="userDetails?.dobYear"><i class="far fa-calendar-alt"></i>
                                        {{ userDetails?.dobDate }}/{{ userDetails?.dobMonth }}/{{
                                        userDetails?.dobYear}} </div>
                                    <div class="font-weight-normal" *ngIf="userDetails?.currAddress"> <i class="fas fa-map-marker-alt"></i>{{userDetails?.currAddress
                                        }} </div>
                                    <div class="font-weight-normal" *ngIf="userDetails?.registrationTimeStamp"> <i
                                            class="far fa-calendar-alt"></i> Since {{
                                        userDetails?.registrationTimeStamp | date: 'MMM d, y' }} </div>


                                    <!--<button type="button" class="btn btn-primary btn-sm" (click)="editProfile(editProfileDialog)"><i class="fas fa-pencil-alt"></i> Edit Profile</button>
                                    &nbsp;
                                    <button type="button" class="btn btn-secondary btn-sm" (click)="file.click()"><i class="fas fa-camera"></i> Change Image
                                     <input #file style="margin-left: 104px;left: 90px;margin-right: 2px;position: absolute;margin-top: -3px;        padding: 0px; width: 94px;visibility: hidden; "type="file" accept="image/gif, image/jpeg, image/jpg, image/png" multiple (change)="fnChangeProfilePicture($event)">
                                    </button>-->



                                </div>
                            </div>
                            <div class="col-xl-4 col-md-4 d-flex justify-content-lg-start justify-content-md-start justify-content-center">
                                <ul style="display: none;">
                                    <li>
                                        <div class="counter">246</div>
                                        <div class="heading">Posts</div>
                                    </li>
                                    <li>
                                        <div class="counter">30</div>
                                        <div class="heading">Favorited</div>
                                    </li>
                                    <li>
                                        <div class="counter">216</div>
                                        <div class="heading">Liked</div>
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" *ngIf="validUser">
            <div class="col-md-3 col-sm-3 d-none d-sm-block">

            </div>
            <div class="col-md-6 col-sm-12" id="profilePage">
                <mat-tab-group mat-stretch-tabs>
                    <mat-tab label="Topics">
                        <noticer-main [from]="'topics'"></noticer-main>
                    </mat-tab>
                    <mat-tab label="Boards">
                        <noticer-main [from]="'boards'"></noticer-main>
                    </mat-tab>
                    <mat-tab label="Groups">
                        <noticer-main [from]="'groups'"></noticer-main>
                    </mat-tab>
                </mat-tab-group>
            </div>
            <div class="col-md-3 col-sm-3 d-none d-sm-block">

            </div>

        </div>
        <div class="row">
            <div class="text-center" *ngIf="!validUser" class="text-center">
                <h6><a href="javascript:void(0);" data-toggle="modal" routerLink="/login">Sign-in
                        to see activity
                    </a></h6>
            </div>
            <div class="text-center" *ngIf="!profileAvailable">
                <div class="fntRed">
                    <h3 class="text-center">This user account has been deleted</h3>
                </div>
            </div>
        </div>


    </div>
</div>



<div class="container marTop50">
    <!--<div class="row" *ngIf="profileAvailable">
        <div class="card bg-light text-center col-md-2">
            <div style="padding-top: 20%;padding-bottom: 20%;">
                <a data-lightbox="img" data-title="Profile Picture" href="{{profileImage}}">
                    <img [src]="profileImage" class="card-img-top image avatar">
                </a>
             </div>
        </div>
        <div class="col-md-10 contentPad profileBorder">
            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                        <p>&nbsp;{{userDetails && userDetails.userName ? userDetails.userName : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.email ? userDetails.email : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Member since: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.registrationTimeStamp ? (userDetails.registrationTimeStamp |
                            date: 'MMM d, y') : '-NA-'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="validUser">
        <h4>Activity</h4>
        <mat-tab-group>
            <mat-tab label="Topics">
                <noticer-main [from]="'topics'"></noticer-main>
            </mat-tab>
            <mat-tab label="Boards">
                <noticer-main [from]="'boards'"></noticer-main>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="!validUser" class="text-center">
        <h6><a href="javascript:void(0);" data-toggle="modal" routerLink="/login">Sign-in
            to see activity
        </a></h6>
    </div>
    <div *ngIf="!profileAvailable">
        <div class="fntRed">
            <h3 class="text-center">This user account has been deleted</h3>
        </div>
    </div>-->
</div>