<div class="container marTop50">
    <div class="row" *ngIf="profileAvailable">
        <div class="card bg-light text-center col-md-2">
            <div style="padding-top: 20%;padding-bottom: 20%;">
                <a data-lightbox="img" data-title="Profile Picture" href="{{profileImage}}">
                    <img [src]="profileImage" class="card-img-top image avatar">
                </a>
                <!-- <img class="card-img-top image avatar" [src]="profileImage" alt="Card image"> -->
            </div>
        </div>
        <div class="col-md-10 contentPad profileBorder">
            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                        <p>&nbsp;{{userDetails && userDetails.userName ? userDetails.userName : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.email ? userDetails.email : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Member since: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.registrationTimeStamp ? (userDetails.registrationTimeStamp |
                            date: 'MMM d, y') : '-NA-'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="validUser">
        <h4>Activity</h4>
        <mat-tab-group>
            <mat-tab label="Topics">
                <noticer-main [from]="'topics'"></noticer-main>
            </mat-tab>
            <mat-tab label="Boards">
                <noticer-main [from]="'boards'"></noticer-main>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="!validUser" class="text-center">
        <h6><a href="javascript:void(0);" data-toggle="modal" routerLink="/login">Sign-in
            to see activity
        </a></h6>
    </div>
    <div *ngIf="!profileAvailable">
        <div class="fntRed">
            <h3 class="text-center">This user account has been deleted</h3>
        </div>
    </div>
</div>