<div class="container m-0 p-0" style="min-height: 500px;">
    <div class="form-group" style="margin-top: 10px;">
        <button class="btn btn-sm btnSuccess float-right" (click)="createBoardDialog(addBoardDialog)" style="color:white;    margin-bottom: 7px;"><i
                class="fa fa-plus" aria-hidden="true"></i> &nbsp;Create Group</button>
        <p-dropdown placeholder="Groups" (onChange)="getUsersInGroup(boardDOMId.value)" [(ngModel)]="groupId" [options]="listOfGroups"
            [style]="{'width':'100%'}" filter="true" #boardDOMId>
            <ng-template let-board pTemplate="item">
                <div class="ui-helper-clearfix">
                    <span style="vertical-align:middle">{{board.label}}</span>
                </div>
            </ng-template>
        </p-dropdown>
    </div>
    <div *ngIf="!showPeople"  class="bd-callout bd-callout-info">
        <h5 id="conveying-meaning-to-assistive-technologies">Select the group from above dropdown and do following actions</h5>
        <p></p>
        <p>View list of members in your group.</p>
        <p>Add admins to your group.</p>
        <p>Add / remove members to your group.</p>
    </div>
    
    <!-- <div *ngIf="showPeople" class="card text-center" style="padding-top: 4%;">
        <div class="form-group">
            <label><b>Department:</b> {{deptName}}</label>
        </div>
        <div class="form-group">
            <label><b>Start Year:</b> {{startYear}}, &nbsp;&nbsp; <b>End Year:</b> {{endYear}}</label>
        </div>
    </div> -->
    <div class="card" *ngIf="showPeople">
        <div class="card-header" style="line-height: 30px;">
            <i class="fas fa-users"></i>&nbsp;Members
            <div class="form-group pull-right mb-0">
                    <input type="text" [(ngModel)]="searchMember"  class="form-control form-control-sm" placeholder="Search..."/>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12"  *ngFor="let user of peopleInBoards | filter : searchMember :'email' ">
                    <div class="list-group-item border-0">
                            <img width="30"
                            [src]="(user.profileImageUrl && user.profileImageUrl?.length>0) ? user.profileImageUrl : 'assets/images/noticer_default_user_img.png'"
                            height="30" 
                            class="rounded-circle" alt="Avatar">
                            {{user.email}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div *ngIf="boardResponse && boardResponse.nonExisting?.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Non Existing:</strong>
        <span *ngFor="let item of boardResponse.nonExisting">{{item}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="boardResponse && boardResponse.alreadyMembers?.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Already members:</strong>
        <span *ngFor="let item of boardResponse.alreadyMembers">{{item}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="boardResponse && boardResponse.nonMembers?.length > 0" class="alert alert-danger alert-dismissible fade show" role="alert">
        <strong>Non Members:</strong>
        <span *ngFor="let item of boardResponse.nonMembers">{{item}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="(boardResponse && boardResponse.removedCount == boardResponse.requestedCount) && boardResponse.removed?.length > 0"
        class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Successfully Removed:</strong>
        <span *ngFor="let item of boardResponse.removed">{{item}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="(boardResponse && boardResponse.addedCount == boardResponse.requestedCount) && boardResponse.added?.length > 0" class="alert alert-success alert-dismissible fade show"
        role="alert">
        <strong>Successfully Added : </strong>
        <span *ngFor="let item of boardResponse.added">{{item}}</span>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div *ngIf="showPeople" [formGroup]="usersForm" class="card" >
        <div class="card-header"><i class="fa fa-plus" aria-hidden="true"></i> &nbsp;Add members to group</div>
        <div class="card-body">
            <textarea class="form-control" placeholder="Please add email id's with comma seperated" formControlName="addPeopleList"></textarea>
            <small class="pull-right">{{usersForm.get("addPeopleList").value.split("@").length -1}} members</small>
        </div>
        <div class="col-md-12">
            <button class="btn btn-sm btnSuccess btnS float-right" (click)="addUsersInGroup()" [disabled]="!validAddUsers">Add</button>
        </div>
    </div>
    <br>
    <div [formGroup]="usersForm" class="card" *ngIf="showPeople">
        <div class="card-header"><i class="fa fa-times" aria-hidden="true"></i> &nbsp;Remove members from group</div>
        <div class="card-body">
            <textarea class="form-control" placeholder="Please add email id's with comma seperated" formControlName="removePeopleList"></textarea>
            <small class="pull-right">{{usersForm.get("removePeopleList").value.split("@").length -1}} members</small>
        </div>
        <div class="col-md-12">
            <button class="btn btn-sm btnSuccess btnS float-right" (click)="removeUsersInGroup()" [disabled]="!validRemoveUsers">Remove</button>
        </div>
    </div>
</div>


<!-- Dialog box -->
<section>
    <ng-template #addBoardDialog let-c="close" let-d="dismiss">
        <h4 style="padding: 12px;"><b>Create Group</b></h4>
        <div class="modal-body">
            <form [formGroup]="addGroupForm">
                <div class="form-group">
                    <label><b>Institute:</b> {{institute.instName}}</label>
                </div>
                <div class="form-group">
                    <label><b>Group Name:</b> </label>
                    <div class="col-md-12">
                        <input [ngClass]="{'has-error':!addGroupForm.controls['name'].valid}" class="form-control"
                            formControlName="name" placeholder="name" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <fieldset [disabled]="addBoardBtnTxt == 'Creating..'">
                <button type="button" class="btn btn-sm btnSuccess" style="color:white;" (click)="saveCreateGroup()"
                    [disabled]="addGroupForm.invalid">{{addBoardBtnTxt}}</button>
            </fieldset>
        </div>
    </ng-template>
</section>