<div class="container marTop50">

    <h4>Profile</h4>
    <hr>
    <div class="row">
        <div class="card bg-light text-center col-md-2">
            <div style="padding-top: 10%;" class="profilePicChange">
                <div class="middle">
                    <span class="btn btn-light btn-file">
                        <i class="fas fa-camera"></i> Change Picture
                        <input type="file" accept="image/*" multiple (change)="fnChangeProfilePicture($event)">
                    </span>
                </div>
                <img class="card-img-top image" src="assets/images/user.png" alt="Card image" style="width:80%;border-radius: 150px;">
            </div>
            <div class="card-body">
                <h6 class="card-title">Durgarao Asapu</h6>
                <p class="card-text">Sudheer</p>
                <p class="card-text">Ravikanth</p>
                <p class="card-text">
                    <font color="red">
                        <b>ADR Technologies</b>
                    </font>
                </p>
            </div>
        </div>
        <div class="card border-light col-md-10" style="padding-right: 0px;padding-left: 3px;">
            <div class="card-header">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">General Information</a>
                    </li>
                    <li class="nav-item">
                        <a (click)="loadEducationDetails()" class="nav-link" id="education-tab" data-toggle="tab" href="#education" role="tab" aria-controls="education"
                            aria-selected="false">Education Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="exams-tab" data-toggle="tab" href="#exams" role="tab" aria-controls="exams" aria-selected="false">Exams Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="examural-tab" data-toggle="tab" href="#examural" role="tab" aria-controls="examural" aria-selected="false">Examural Information</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="mypost-tab" data-toggle="tab" href="#mypost" role="tab" aria-controls="mypost" aria-selected="false">MyPosts</a>
                    </li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                    <div class="float-right" style="padding: 1%;">
                        <a href="javascript:void(0);" class="tooltip-test" title="Edit profile details">
                            <small class="text-muted">Edit</small>
                        </a>
                    </div>
                    <div class="card-body">
                        <div class="form-group row">
                            <div class="col-sm-12">
                                Durgarao Asapu, Male
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Birthday: </label>
                            <div class="col-sm-10">
                                <label>09-03-1996</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Email: </label>
                            <div class="col-sm-10">
                                <label>durgarao@gmail.com</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Reg Date: </label>
                            <div class="col-sm-10">
                                <label>20-07-2018</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Phone: </label>
                            <div class="col-sm-10">
                                <label>8500506013</label>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword" class="col-sm-2 col-form-label">Address: </label>
                            <div class="col-sm-10">
                                <label>Madhapur, Hyderabad, 500083</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="education" role="tabpanel" aria-labelledby="education-tab">
                    <div class="card-body">
                        <div class="loader"></div>
                        <h6 class="card-title">Education details</h6>
                    </div>
                </div>
                <div class="tab-pane fade" id="exams" role="tabpanel" aria-labelledby="exams-tab">
                    <div class="card-body">
                        <h6 class="card-title">Exams details</h6>
                    </div>
                </div>
                <div class="tab-pane fade" id="examural" role="tabpanel" aria-labelledby="examural-tab">
                    <div class="card-body">
                        <h6 class="card-title">Examural details</h6>
                    </div>
                </div>
                <div class="tab-pane fade" id="mypost" role="tabpanel" aria-labelledby="mypost-tab">
                    <div class="card-body">
                        <h6 class="card-title">My Post details</h6>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>