<h2 mat-dialog-title>Add {{createPostDialogData?.data?.popupTitle}} {{createPostDialogData?.data?.reqestType}}</h2>
<mat-dialog-content class="mat-typography">
  <form class="create-post-form">
          <div class="row">
            <div class="col-sm">
              <div class="card">
                  <div class="card-body">
                    Hello, please select your post type 
                    <div class="btn-group">
                        <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ postType }}
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="void:javascript(0);" (click)="changePostType('Private');">Private
                              <p class="mb-0"><small>share your content to only closed board people.</small></p>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="void:javascript(0);" (click)="changePostType('Public');">Public
                                <p class="mb-0"><small>share your content to open board people.</small></p>
                            </a>
                        </div>
                    </div> 
                  </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Type" aria-label="Type" matInput [formControl]="typeControl" [matAutocomplete]="auto" />
              
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.label}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Categories" aria-label="Categories" matInput [formControl]="typeControl" [matAutocomplete]="auto" />
              
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.label}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Model" aria-label="Model" matInput [formControl]="typeControl" [matAutocomplete]="auto" />
              
                    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option.label}}
                      </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
          </div>
          <div class="row">
              <div class="col-sm">
                    <mat-form-field class="field-full-width">
                      <input matInput placeholder="Give some heading for your post" value="">
                    </mat-form-field>
                    <mat-button-toggle-group 
                    [(ngModel)]="formData.selectedOption"  
                    appearance="legacy" name="fontStyle" aria-label="Font Style">
                      <mat-button-toggle value="post">Post</mat-button-toggle>
                      <mat-button-toggle value="question">Question</mat-button-toggle>
                      <mat-button-toggle value="mcq">Mcq</mat-button-toggle>
                      <mat-button-toggle value="image">Image</mat-button-toggle>
                      <mat-button-toggle value="video">Video Link</mat-button-toggle>
                      <mat-button-toggle value="doc">Document Link</mat-button-toggle>
                      <mat-button-toggle value="pdf">PDF Link</mat-button-toggle>
                    </mat-button-toggle-group>
              </div>
          </div>

          <div class="row" *ngIf="formData.selectedOption === 'post'">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="formData.postDescription" matInput placeholder="Add detailed description for your post."></textarea>
                <mat-hint>{{ 300 - formData.postDescription.length }} remaining</mat-hint>
              </mat-form-field>
            </div>
          </div>
        
          <div class="row" *ngIf="formData.selectedOption === 'question'">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="formData.questionDescription" matInput placeholder="Give detailed description about your question."></textarea>
                <mat-hint>{{ 300 - formData.questionDescription.length }} remaining</mat-hint>
              </mat-form-field>
            </div>
          </div>
        
          <div class="row" *ngIf="formData.selectedOption === 'multipleOption'">
            <div class="row">
              <div class="col"> 
                <mat-form-field class="">
                  <input matInput [(ngModel)]="formData.multipleOption.option1" placeholder="Option 1" value="">
                </mat-form-field>
              </div>
              <div class="col"> 
                <mat-form-field class="">
                  <input matInput [(ngModel)]="formData.multipleOption.option2" placeholder="Option 2" value="">
                </mat-form-field>
              </div>
              <div class="w-100"></div>
              <div class="col"> 
                <mat-form-field class="">
                  <input matInput [(ngModel)]="formData.multipleOption.option3" placeholder="Option 3" value="">
                </mat-form-field>
              </div>
              <div class="col"> 
                <mat-form-field class="">
                  <input matInput [(ngModel)]="formData.multipleOption.option4" placeholder="Option 4" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row answer">
                  <label>Answer: </label>
                  <mat-button-toggle-group color="accent"
                  [(ngModel)]="formData.multipleOption.answer"
                  name="answer" aria-label="answer">
                  <mat-button-toggle value="1">1</mat-button-toggle>
                  <mat-button-toggle value="2">2</mat-button-toggle>
                  <mat-button-toggle value="3">3</mat-button-toggle>
                  <mat-button-toggle value="4">4</mat-button-toggle> 
                </mat-button-toggle-group>
            </div>
          </div>
          <div class="row" *ngIf="formData.selectedOption === 'video'">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="formData.videoLink" matInput placeholder="Add your link here."></textarea>
               </mat-form-field>
            </div>
          </div>
        
          <div class="row" *ngIf="formData.selectedOption === 'document'">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="formData.docuemntLink" matInput placeholder="Add your link here."></textarea>
               </mat-form-field>
            </div>
          </div>
        
          <div class="row" *ngIf="formData.selectedOption === 'pdf'">
            <div class="col">
              <mat-form-field class="example-full-width">
                <textarea [(ngModel)]="formData.pdfLink" matInput placeholder="Add your link here."></textarea>
               </mat-form-field>
            </div>
          </div>
        
      
    
  </form>
   





</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-light" >Close</button>
</mat-dialog-actions>