<h2 mat-dialog-title>Add</h2>
<form class="create-post-form" [formGroup]="createForm" (ngSubmit)="onPostClick()">
<mat-dialog-content class="mat-typography">
         <div class="row">
            <div class="col-sm">
              <div class="card">
                  <div class="card-body p-2">
                    Hello,
                    <div class="btn-group">
						<input type="text" style="display:none;" placeholder="Type" aria-label="Type" matInput formControlName="postTypeControl" />
                        <p class="mb-0">you are creating a <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          {{ formData.postType }}
                        </button>  post.</p>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="void:javascript(0);" (click)="changePostType('Private');">Private
                              <p class="mb-0"><small>share your content to only closed board people.</small></p>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="void:javascript(0);" (click)="changePostType('Public');">Public
                                <p class="mb-0"><small>share your content to open board people.</small></p>
                            </a>
                        </div>
                    </div> 
                  </div>
              </div>
            </div>
          </div>
		  
          <div class="row mt-2" *ngIf="createPostDialogData?.data?.requestType !== 'BOARD' && createPostDialogData?.data?.requestType !== 'GROUP'">
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Type" aria-label="Type" matInput [formControl]="typeControl" [matAutocomplete]="typeAuto" />
					  
                    <mat-autocomplete #typeAuto="matAutocomplete" [displayWith]="displayLabel" (optionSelected)='getCategoriesByType($event.option.value)'>
                      <mat-option *ngFor="let type of filteredTypes | async" [value]="type">
                        {{type.label}}
                      </mat-option>
                    </mat-autocomplete>
					<mat-error *ngIf="typeControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Categories" aria-label="Categories" matInput [formControl]="categoryControl" [matAutocomplete]="categoryAuto" />
              
                    <mat-autocomplete #categoryAuto="matAutocomplete" [displayWith]="displayLabel" (optionSelected)='getmodelsByCategory($event.option.value)'>
                      <mat-option *ngFor="let category of filteredCategories | async" [value]="category">
                        {{category.label}}
                      </mat-option>
                    </mat-autocomplete>
					<mat-error *ngIf="categoryControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
            <div class="col-sm">
                <mat-form-field class="field-full-width">
                    <input type="text" placeholder="Model" aria-label="Model" matInput [formControl]="modelControl" [matAutocomplete]="modelAuto" />
              
                    <mat-autocomplete #modelAuto="matAutocomplete" [displayWith]="displayLabel" (optionSelected)='setFormDataModel($event.option.value)'>
                      <mat-option *ngFor="let model of filteredModels | async" [value]="model">
                        {{model.label}}
                      </mat-option>
                    </mat-autocomplete>
					<mat-error *ngIf="modelControl.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>
            </div>
          </div>

          <div class="row mt-2">
              <div class="col-sm">
                  <mat-button-toggle-group 
                  [(ngModel)]="formData.selectedOption"
				  [ngModelOptions]="{standalone: true}"
				  (ngModelChange)="changePlaceHolder($event)"	
				  class="pull-right"
                  appearance="legacy" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="post">Post</mat-button-toggle>
                    <mat-button-toggle value="mcq" [style.display]="formData._type !== 'EVENTS' ? 'block':'none'">MCQ</mat-button-toggle>
					<mat-button-toggle value="event" [style.display]="formData._type === 'EVENTS' ? 'block':'none'">Events</mat-button-toggle> <!-- *ngIf=""  *ngIf=""-->
                    <mat-button-toggle value="quiz" [style.display]="createPostDialogData.data.requestType === 'BOARD' ? 'block':'none'">Create Quiz</mat-button-toggle>
                  </mat-button-toggle-group>
              </div>
          </div>
		  
		  <div class="row mt-2" *ngIf="formData.selectedOption !== 'quiz'">
              <div class="col-sm">
                    <mat-form-field appearance="outline" class="field-full-width">
                      <mat-label>Heading</mat-label>
                      <input [(ngModel)]="formData.heading" [ngModelOptions]="{standalone: true}" name="heading" matInput placeholder="{{postHeadingPlaceHolder}}" value="" required>
                      <mat-hint align="end">{{ 300 - formData.heading.length }} remaining</mat-hint>
                    </mat-form-field>
              </div>
          </div>
          
          <div class="row mt-2" *ngIf="formData.selectedOption !== 'quiz'">
            <div class="col">
              <mat-form-field class="field-full-width">
				<mat-label>Description</mat-label>
                <textarea [(ngModel)]="formData.description" [ngModelOptions]="{standalone: true}" name="description" matInput placeholder="{{postDescriptionPlaceHolder}}"></textarea>
                <mat-hint align="end">{{ 300 - formData.description.length }} remaining</mat-hint>
              </mat-form-field>
            </div>
          </div>
         
          <div class="" *ngIf="formData.selectedOption === 'mcq'">
            <div class="row">
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.multipleOption.option1" name="option1" placeholder="Option 1" value="">
                </mat-form-field>
              </div>
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.multipleOption.option2" name="option2" placeholder="Option 2" value="">
                </mat-form-field>
              </div>
			  <div class="w-100"></div>
			  <div class="col" *ngIf="showMoreOptions">
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.multipleOption.option3" name="option3" placeholder="Option 3" value="">
                </mat-form-field>
              </div>
              <div class="col" *ngIf="showMoreOptions"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.multipleOption.option4" name="option4" placeholder="Option 4" value="">
                </mat-form-field>
              </div>
            </div>
            <div class="row">
			  <div class="col-lg-6 col-md-6 col-sm-12">
				<a href="javascript:void(0);" (click)="showMoreOptions = !showMoreOptions">{{ !showMoreOptions ? 'Add two more options' : 'remove two options'}}</a>
              </div>
			  <div class="col-lg-6 col-md-6 col-sm-12">
                  <label>Answer: </label>
                  <mat-button-toggle-group color="accent" class="answer"
                  [(ngModel)]="formData.multipleOption.answer"
				  [ngModelOptions]="{standalone: true}"
                  name="answer" aria-label="answer">
                  <mat-button-toggle value="Option 1">1</mat-button-toggle>
                  <mat-button-toggle value="Option 2">2</mat-button-toggle>
                  <mat-button-toggle *ngIf="showMoreOptions" value="Option 3">3</mat-button-toggle>
                  <mat-button-toggle *ngIf="showMoreOptions" value="Option 4">4</mat-button-toggle> 
                </mat-button-toggle-group>
              </div>
            </div>
          </div>
		  
		  <div class="" *ngIf="formData.selectedOption === 'event'">
            <div class="row">
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.event.fromDate" name="fromDate" placeholder="From Date" value="">
                </mat-form-field>
              </div>
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.event.toDate" name="toDate" placeholder="To Date" value="">
                </mat-form-field>
              </div>
              <div class="w-100"></div>
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.event.contacts" name="contacts" placeholder="Contacts" value="">
                </mat-form-field>
              </div>
              <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.event.website" name="website" placeholder="Website" value="">
                </mat-form-field>
              </div>
			  <div class="col"> 
                <mat-form-field class="field-full-width">
                  <input matInput [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.event.location" name="location" placeholder="Location" value="">
                </mat-form-field>
              </div>
			  
            </div>
          </div>
		
          <div class="row" *ngIf="formData.selectedOption === 'quiz'">
            <div class="col">
                 <div class="bd-callout bd-callout-warning">
					<h3 id="conveying-meaning-to-assistive-technologies">Please click <a href="/quiz-create/boards/closed/{{createPostDialogData.data.boardId}}/{{createPostDialogData.data.boardName}}" target="_blank">here</a> to create a quiz.</h3>
				 	<p class="mb-0">You are going to create a quiz in this selected board only.</p>
					<p class="mb-0">You will navigate to quiz page.</p>
				</div>
            </div>
          </div>
		  
		  <div class="row mt-2" *ngIf="formData.selectedOption !== 'quiz'">
			<div class="col">
			 <mat-checkbox class="example-margin" name="uploadEnabler" [ngModelOptions]="{standalone: true}" [(ngModel)]="formData.enableUpload">Do you have any docuemnts / images to upload along with this post.</mat-checkbox>
			</div>
		  </div>
		  
          <div class="row mt-2" *ngIf="formData?.enableUpload">
            <div class="col">
              <ul class="list-inline postIcons">
                <span class="btn btn-light btn-file">
                    <i class="fas fa-camera"></i> Browse Documents
                    <input type="file" accept=".xlsx,.xls,.doc, .docx,.ppt, .pptx,.txt,.pdf" multiple="multiple" (change)="detectFiles($event)">
                </span>
              </ul>
            </div>
	     </div>
        
		 
		 <div class="row mt-2">
			 <div class="col-lg-3 col-md-3 col-sm-6"  *ngFor="let fileObj of formData.urls;index as in;" >
				<div class="card mb-2">
				   <img *ngIf="fileObj.type === 'image/gif' || fileObj.type === 'image/jpeg'|| fileObj.type === 'image/jpg' ||
					fileObj.type === 'image/png'" [src]="fileObj.preview" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}">

					<img *ngIf="fileObj.type === 'text/plain'" src="assets/images/noticer_default_file_img.png" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}">

					<img *ngIf="fileObj.type === 'application/pdf'" src="assets/images/noticer_default_pdf_img.png" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}" >

					<img *ngIf="fileObj.fileType && fileObj.fileType === 'application/doc'" src="assets/images/noticer_default_word_img.png" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}" width="130" height="100">

					<img *ngIf="fileObj.fileType === 'application/ppt'" src="assets/images/noticer_default_file_img.png" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}">

					<img *ngIf="fileObj.fileType === 'application/xls'" src="assets/images/noticer_default_xls_img.png" class="card-img-top img-thumbnail float-left" alt="{{ fileObj?.name }}">
					
					<div class="card-body text-center p-0">
						<a href="javascript:void(0);" (click)="removeFromImages(in)" class="text-danger"><i class="fas fa-trash-alt"></i> Remove</a>
					 </div>
				</div>
			  </div>
		</div>
   
</mat-dialog-content>
<mat-dialog-actions align="end">
	<fieldset [disabled]="createPostDialogData.data.postBtnTxt == 'Posting...'">
		<button mat-stroked-button  type="submit" class="btn btn-outline-success mr-2">{{createPostDialogData.data.postBtnTxt}}</button>
	</fieldset>
	<button mat-stroked-button  class="btn btn-outline-danger" mat-dialog-close>Close</button>
</mat-dialog-actions>
</form>