<section [@routerTransition]>
    <div class="row">
        <div class="col-md-6 d-none d-sm-block" style="background: #1da1f2;margin-bottom: -15%;">
            <div class="leftCenter fontText">
                <font color="white">
                    <b>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Welcome To Noticer</p>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Join the conversation</p>
                        <p><i class="fas fa-hand-point-right"></i>&nbsp; Learn to enjoy every minute of your life.</p>
                    </b>
                </font>
            </div>
        </div>
        <div class="col-md-6">
            <div class="center">
                <div *ngIf="errorTextMessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>{{ errorTextMessage }}</strong>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form (ngSubmit)="onLoggedin()" [formGroup]="authForm">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="text" formControlName="email" placeholder="email">
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input class="form-control" type="password" placeholder="password"
                            formControlName="password">
                    </div>
                    <p><a href="javascript:void(0);" class="linkGray">Forgot password?</a></p>
                    <button type="submit" class="btn btn-primary btn-sm loginButton btn-block">Log in</button>
                    <p class="signUpBtnMar"><b>Join Noticer Today</b></p>
                    <button type="button" class="btn btn-default btn-sm btnShape btn-block" routerLink="/signup">Sign
                        Up</button>
                </form>
            </div>
        </div>
    </div>
</section>