.linkGray{
    color: gray;
    font-size: 13px;
}


.btnShape{
    border-radius: 18px;
    background-color: #1da1f2;
    color: white;
    font-weight: bold;
}

.loginButton{
    background-color: white;
    color: #1da1f2;
    font-weight: bold;
    border-radius: 18px;
}

.fontText{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
}

.signUpBtnMar{
    margin-top: 15%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  #div-1a {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background-color: #155a24;
}

/* blue color #1da1f2 */
.div-1b {
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    height:100%;
}

.table-container {
    height:100%;
    width:100%;
    display:table;
}

#div_a {
    vertical-align:middle;
    height:100%;
    display:table-cell;
    padding-left: 1px;
}

.div_b {
    vertical-align:middle;
    height:100%;
    display:table-cell;
    padding: 20%;
}

.mobilePadding{
    padding: 42px;
}

.preload * {
  transition: none !important;
}

.login--container {
  width: 600px;
  background-color: #F15A5C;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.login--toggle-container {
  position: absolute;
  background-color: transparent;
  color:white;
  right: 0;
  line-height: 2.5em;
  width: 50%;
  height: 120px;
  text-align: right;
  cursor: pointer;
  transform: perspective(1000px) translateZ(1px);
  transform-origin: 0% 0%;
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  backface-visibility: hidden;
}
.login--toggle-container .js-toggle-login {
  font-size: 6em;
  text-decoration: underline;
}
.login--active .login--toggle-container {
  transform: perspective(1000px) rotateY(180deg);
  background-color: #bc1012;
}

.topsmall{
    line-height: 4rem;
    font-size: 100%;
}
.bottomsmall{
    line-height: 6rem;
    font-size: 100%;
}
.container-login{
    background: white;
    padding: 15px;
    border-radius: 5px;
}