<div class="login-page" [@routerTransition]>
    <div class="row">
        <div class="col-md-4 push-md-4 mylogin">
            <!-- <img src="assets/images/logo.png" width="100px" class="user-avatar" /> -->
            <h3 class="h3">Sign In to access Noticer</h3>

            <ngb-alert *ngIf="errorTextMessage" type="danger" (close)="errorTextMessage = ''">{{ errorTextMessage }}</ngb-alert>
            <!-- (ngSubmit)="onLoggedin()" -->
            <form [formGroup]="authForm" role="form">
                <div class="form-content">
                    <div>
                        <mat-form-field class="full-width">
                            <input type="text" matInput formControlName="username" placeholder="Email">
                            <mat-error *ngIf="authForm.controls['username'].hasError('email') && !authForm.controls['username'].hasError('required')">
                                Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="authForm.controls['username'].hasError('required')">
                                Email is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                    <br>
                    <div>
                        <mat-form-field class="full-width">
                            <input type="password" matInput formControlName="password" placeholder="Password">
                            <mat-error *ngIf="authForm.controls['password'].hasError('required')">
                                Password is
                                <strong>required</strong>
                            </mat-error>
                        </mat-form-field>
                    </div>
                </div>
                <!-- [disabled]='disableLoginButton' -->
                <button type="button" (click)="onLoggedin()" class="btn rounded-btn marb30"> {{status}} </button>
                &nbsp;
                <div class="clear"></div>
                <label>Don't have a Noticer account?
                    <a routerLink="/user-setup"> Sign Up </a> Now</label>
            </form>
        </div>
    </div>
</div>