.linkGray{
    color: gray;
    font-size: 13px;
}


.btnShape{
    border-radius: 18px;
    background-color: #1da1f2;
    color: white;
    font-weight: bold;
}

.loginButton{
    background-color: white;
    color: #1da1f2;
    font-weight: bold;
    border-radius: 18px;
}

.fontText{
    display: flex;
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    position: relative;
}

.white-bg{
  background-color : rgb(232, 240, 254) !important
}

.signUpBtnMar{
    margin-top: 15%;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  #div-1a {
    position:absolute;
    top:0;
    left:0;
    width:50%;
    height:100%;
    background-color: #1da1f2;
}

/* blue color #1da1f2 */
.div-1b {
    position:absolute;
    top:0;
    right:0;
    width: 50%;
    height:100%;
}

.table-container {
    height:100%;
    width:100%;
    display:table;
}

#div_a {
    vertical-align:middle;
    height:100%;
    display:table-cell;
    padding-left: 25%;
}

.div_b {
    vertical-align:middle;
    height:100%;
    display:table-cell;
    padding: 20%;
}

.mobilePadding{
    padding: 42px;
}

.preload * {
  transition: none !important;
}

.login--container {
  width: 600px;
  background-color: #F15A5C;
  margin: 0 auto;
  position: relative;
  top: 25%;
}

.login--toggle-container {
  position: absolute;
  background-color: transparent;
  color:white;
  right: 0;
  line-height: 2.5em;
  width: 50%;
  height: 120px;
  text-align: right;
  cursor: pointer;
  transform: perspective(1000px) translateZ(1px);
  transform-origin: 0% 0%;
  transition: all 1s cubic-bezier(0.06, 0.63, 0, 1);
  backface-visibility: hidden;
}
.login--toggle-container .js-toggle-login {
  font-size: 6em;
  text-decoration: underline;
}
.login--active .login--toggle-container {
  transform: perspective(1000px) rotateY(180deg);
  background-color: #bc1012;
}

.topsmall{
    line-height: 4rem;
    font-size: 100%;
}
.bottomsmall{
    line-height: 6rem;
    font-size: 100%;
}
.container-login{
    background: white;
    padding: 15px;
    border-radius: 5px;
}

:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: 0.75rem;
  }
  
  .login,
  .image {
    min-height: 100vh;
  }
  
  .bg-image {
    background-image: url("../../assets/images/spuren_login.jpg");
    background-size: cover;
    background-position: center;
  }
  
  .login-heading {
    font-weight: 300;
  }
  
  .btn-login {
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    padding: 0.75rem 1rem;
    border-radius: 2rem;
  }

  .form-label-group_label{
      border-radius: 25px;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown) {
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label {
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }