<div class="container marTop50">
    <div class="row">
        <div class="card bg-light text-center col-md-2">
            <div style="padding-top: 12%;">
                <img class="card-img-top image avatar" [src]="profileImage" alt="Card image">
            </div>
            <div class="card-body">
                <ul class="list-inline postIcons">
                    <span class="btn btn-light btn-file marPic">
                        <i class="fas fa-camera"></i>&nbsp; Change picture
                        <input type="file" accept="image/gif, image/jpeg, image/jpg, image/png" multiple (change)="fnChangeProfilePicture($event)">
                    </span>
                </ul>
            </div>
        </div>
        <div class="col-md-10 contentPad profileBorder">
            <div class="float-right" style="padding: 1%;">
                <a href="javascript:void(0);" (click)="editProfile(editProfileDialog)" class="tooltip-test" title="Edit profile details">
                    <small class="text-muted">Edit</small>
                </a>
            </div>
            <br>
            <div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Name: </label>
                    <div class="col-sm-10">
                        <p>&nbsp;{{userDetails && userDetails.userName ? userDetails.userName : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Email: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.email ? userDetails.email : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Gender: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.gender ? (userDetails.gender == "m" ? 'Male' : 'Female') :
                            '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Phone</label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.phoneNum ? userDetails.phoneNum : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Birthday: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.dobYear ? userDetails.dobYear : '-NA-'}} -
                            {{ userDetails && userDetails.dobMonth ? userDetails.dobMonth : '-NA-'}} -
                            {{userDetails && userDetails.dobDate ? userDetails.dobDate : '-NA-'}}</p>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Address: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.currAddress ? userDetails.currAddress : '-NA-'}}</p>
                    </div>
                </div>
                <!-- <div class="form-group row">
                    <label class="col-sm-2 col-form-label">PermAddress: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.permAddress ? userDetails.permAddress : '-NA-'}}</p>
                    </div>
                </div> -->

                <div class="form-group row">
                    <label class="col-sm-2 col-form-label">Member since: </label>
                    <div class="col-sm-10">
                        <p>{{userDetails && userDetails.registrationTimeStamp ? (userDetails.registrationTimeStamp | date: 'MMM d, y')  : '-NA-'}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>
    <ng-template #editProfileDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
                <b>Edit Profile</b>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="editProfileForm">
            <div>
                <div class="modal-body">

                    <div class="form-group modalFormPad">
                        <label>Name</label>
                        <input class="form-control" formControlName="userName" placeholder="Name">
                    </div>
                    <div class="form-group modalFormPad">
                        <label>Phone Number</label>
                        <input class="form-control" formControlName="phoneNum" placeholder="Phone Number">
                    </div>
                    <div class="form-group modalFormPad">
                        <label>Gender </label>&nbsp;
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="gender" formControlName="gender" type="radio" value="m"
                                #male>
                            <label class="form-check-label" for="inlineRadio1">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" name="gender" formControlName="gender" type="radio" value="f"
                                #female>
                            <label class="form-check-label" for="inlineRadio2">Female</label>
                        </div>
                    </div>
                    <div class="form-group modalFormPad">
                        <label>Birthday </label>&nbsp;
                        <my-date-picker name="mydate" [options]="myDatePickerOptions" formControlName="dob" required></my-date-picker>
                    </div>
                    <div class="form-group modalFormPad">
                        <label>Current Address</label>
                        <textarea class="form-control" formControlName="currAddress" rows="2" placeholder="Address"></textarea>
                    </div>
                    <!-- <div class="form-group modalFormPad">
                        <label>Permanant Address</label>
                        <textarea class="form-control" formControlName="permAddress" rows="2" placeholder="Address"></textarea>
                    </div> -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" (click)="saveEditProfile()">Update</button>
                </div>
            </div>
        </form>
    </ng-template>
</section>
<section>
    <div *ngIf="showSpinner" class="spinner">
        <mat-progress-spinner [color]="color" [mode]="mode"></mat-progress-spinner>
    </div>
    <div *ngIf="showSpinner" class="spinnerOverlay"></div>
    <p-growl baseZIndex="100" life="4000" [(value)]="msgs"></p-growl>
</section>