<div class="col-xl-12">
   <h4>&nbsp;</h4>
   <ol class="breadcrumb breadnew">
      <li class="breadcrumb-item">
         <a [routerLink]="['/fms/dashboard']">Home</a>
      </li>
      <li class="breadcrumb-item">
            <a [routerLink]="['/fms/vehicle/dashboard']">Vehicle</a>
      </li>
      <li class="breadcrumb-item active">Make Vehicle Off Road</li>
   </ol>
</div>
<div class="content">
   <div class="row">
      <div class="col-xl-4 text-xs-left">
      </div>
      <div class="col-xl-4 text-xs-center">
      </div>
      <div class="col-xl-2 text-xs-center">
      </div>
      <div class="col-xl-2 text-xs-right">
         <div class="float-right ">
            <button [routerLink]="['/fms/vehicle-offroad/list']" class="btn btn-primary pull-right" type="button"> Off Road Vehicles List</button>
         </div>
      </div>
   </div>
</div>
<div class="container">
   <form [formGroup]="vehicleOffRoadForm" (ngSubmit) = "saveVehicleOffRoad()" class="form-horizontal">
   <div class="fcard">
      <div class="form-group row">
         <label class="col-md-2 form-control-label" for="text-input">Select District</label>
         <div class="col-md-4">
            <select class="form-control"  formControlName="districtId" (change)="getVehiclesByDistrict(districtId.value)" placeholder="District Id" #districtId>
            <option value="-1">Select</option>
            <option *ngFor="let _dist of listOfAllDistricts" [value]="_dist.districtId">
            {{_dist.districtName}}
            </option>
            </select>
         </div>
      </div>
      <div class="form-group row">
         <label class="col-md-2 form-control-label" for="text-input">Vehicle Number</label>
         <div class="col-md-4">
            <select class="form-control" (change)="getEmeByVehicle(vehicleId.value)" formControlName="vehicleId" placeholder="Vehicle Id" #vehicleId>
            <option value="-1">Select</option>
            <option *ngFor="let _vehicle of listOfAllVehicles" [value]="_vehicle.id">
            {{_vehicle.vehicleNumber}}
            </option>
            </select>
         </div>
      </div>
      <fieldset [disabled] = "validReason">
         <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">Reason</label>
            <div class="col-md-4">
               <input class="form-control" placeholder="Reason" aria-label="State" [matAutocomplete]="auto1" formControlName="reasonId">
               <mat-autocomplete #auto1="matAutocomplete" [displayWith]="displayFn">
               <mat-option *ngFor="let reason of filteredReasons" [value]="reason">
               <span >{{ reason.name }} </span> <span *ngIf="reason.badge" class="badge badge-success"> {{ reason.badge }} </span>
               </mat-option>
               </mat-autocomplete>
            </div>
         </div>
      </fieldset>
   </div>
   <hr>
   <div class="fcard">
      <fieldset [disabled] = "!vehicleOffRoadForm.controls['reasonId'].value">
         <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">Aggregates</label>
            <div class="col-md-4" >
               <input class="form-control"  placeholder="Aggregate" aria-label="State" [matAutocomplete]="auto2" formControlName="aggregateId">
               <mat-autocomplete #auto2="matAutocomplete" [displayWith]="displayFn">
               <mat-option *ngFor="let aggregate of filteredAggregates" [value]="aggregate">
               <span >{{ aggregate.name }} </span> <span *ngIf="aggregate.badge" class="badge badge-success"> {{ aggregate.badge }} </span>
               </mat-option>
               </mat-autocomplete>
            </div>
         </div>
      </fieldset>
      <fieldset [disabled] = "!vehicleOffRoadForm.controls['aggregateId'].value">
         <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">Categories</label>
            <div class="col-md-4">
               <input class="form-control" placeholder="Category" aria-label="State" [matAutocomplete]="auto3" formControlName="categoryId">
               <mat-autocomplete #auto3="matAutocomplete" [displayWith]="displayFn">
               <mat-option *ngFor="let category of filteredCategories" [value]="category">
               <span >{{ category.name }} </span> <span *ngIf="category.badge" class="badge badge-success"> {{ category.badge }} </span>
               </mat-option>
               </mat-autocomplete>
            </div>
         </div>
      </fieldset>
      <fieldset [disabled] = "!vehicleOffRoadForm.controls['categoryId'].value">
         <div class="form-group row">
            <label class="col-md-2 form-control-label" for="text-input">Sub Category</label>
            <div class="col-md-4">
               <input class="form-control" placeholder="Sub Category" aria-label="State" [matAutocomplete]="auto4" formControlName="subCategoryId">
               <mat-autocomplete #auto4="matAutocomplete" [displayWith]="displayFn">
               <mat-option (onSelectionChange)="getCost(subcategory)"  *ngFor="let subcategory of filteredSubCategories" [value]="subcategory">
               <span >{{ subcategory.name }} </span> <span *ngIf="subcategory.badge" class="badge badge-success"> {{ subcategory.badge }} </span>
               </mat-option>
               </mat-autocomplete>
            </div>
            <div class="col-md-4">
               <input class="form-control" type="number" placeholder="Cost" formControlName="cost">
            </div>
            <fieldset [disabled] = "!vehicleOffRoadForm.controls['subCategoryId'].value">
               <fieldset [disabled] = "!vehicleOffRoadForm.controls['cost'].value">
                  <div class="col-md-2" style="margin-top: -20px">
                     <button type="button" (click)="addRow()" class="btn btn-primary btn-sm fa fa-plus-square marr20">  Add</button> 
                  </div>
               </fieldset>
            </fieldset>
         </div>
      </fieldset>
      <div>
         <div class="box-header with-border">
            <div class="col-xs-12">
               <div class="col-xs-3">
                  <table *ngIf="showAggregatesTable" class="table table-hover">
                     <hr>
                     <tr>
                        <th>Reason</th>
                        <th>Aggregate</th>
                        <th>Category</th>
                        <th>SubCategory</th>
                        <th>Cost</th>
                        <th>Action</th>
                     </tr>
                     <tr *ngFor="let obj of listOfAddedReasons;let rowIndex of listOfAddedReasons">
                        <td><span>{{obj.name}}</span></td>
                        <td><span>{{obj.aggregatesVO.name}}</span></td>
                        <td><span>{{obj.aggregatesVO.categoriesVO.name}}</span></td>
                        <td><span>{{obj.aggregatesVO.categoriesVO.subCategoriesVO.name}}</span></td>
                        <td><span>{{obj.aggregatesVO.categoriesVO.subCategoriesVO.cost}}</span></td>
                        <td>
                           <a (click)="deleteReason(rowIndex)"> <i class="fa fa-trash fa-2" aria-hidden="true"></i></a>
                        </td>
                     </tr>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </div>
   <hr>
   <div class="fcard">
      <div class="col-md-12 row">
         <div class="col-md-6">
            <fieldset [disabled] = "validReason">
               <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="text-input">Estimated Cost</label>
                  <div class="col-md-4">
                     <input name="text-input" class="form-control" formControlName="estimatedCost" id="text-input" type="number" placeholder="Estimated Cost">
                  </div>
               </div>
            </fieldset>
            <div class="form-group row">
               <label class="col-md-2 form-control-label" for="text-input">Contact Number</label>
               <div class="col-md-4">
                  <input name="text-input" class="form-control" formControlName="contactNumber" id="text-input" type="text" placeholder="Contact Number">
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 form-control-label" for="text-input">Odometer Reading</label>
               <div class="col-md-4">
                  <input name="text-input" class="form-control" formControlName="odometerReading" id="text-input" type="number" placeholder="Odometer Reading">
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 form-control-label" for="text-input">Comments</label>
               <div class="col-md-4">
                  <textarea name="comments" class="form-control" formControlName="comments" type="text" placeholder="Comments"></textarea>
               </div>
            </div>
            <fieldset [disabled] = "true">
               <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="Chassis ">Requested By (EME Name)</label>
                  <div class="col-md-4">
                     <input name="Chassis" class="form-control" formControlName="emeName" id="Chassis" type="text " placeholder="EME Name">
                  </div>
               </div>
            </fieldset>
         </div>
         <div class="col-md-6">
            <fieldset [disabled] = "true">
               <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="text-input">EME ID</label>
                  <div class="col-md-4">
                     <input name="text-input" class="form-control" formControlName="emeId" id="text-input" type="text"
                        placeholder="EME ID">
                  </div>
               </div>
            </fieldset>
            <fieldset [disabled] = "true">
               <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="text-input">Pilot ID</label>
                  <div class="col-md-4">
                     <input name="text-input" class="form-control" formControlName="pilotId" id="text-input" type="text"
                        placeholder="Pilot ID">
                  </div>
               </div>
            </fieldset>
            <fieldset [disabled] = "true">
               <div class="form-group row">
                  <label class="col-md-2 form-control-label" for="Chassis ">Pilot Name</label>
                  <div class="col-md-4">
                     <input name="Chassis" class="form-control" formControlName="pilotName" id="Chassis" type="text " placeholder="Pilot Name">
                  </div>
               </div>
            </fieldset>
            <div class="form-group row">
               <label class="col-md-2 form-control-label" for="text-input">Off Date Time </label>
               <div class="col-md-4">
                  <p-calendar [showTime]="true" [maxDate]="maxMinDate" formControlName="vehicleOffDate" [hourFormat]="hourFormat" inputStyleClass="form-control" name="mydate" inputStyleClass="form-control" showIcon='true' placeholder="  Select date"  dataType='string'  [dateFormat]="userDateFormat"></p-calendar>
               </div>
            </div>
            <div class="form-group row">
               <label class="col-md-2 form-control-label" for="text-input">Estimated Recovery Date Time</label>
               <div class="col-md-4">
                  <p-calendar [showTime]="true" [minDate]="maxMinDate"  [hourFormat]="hourFormat" inputStyleClass="form-control" name="mydate" formControlName="estimatedRecoveryDate" inputStyleClass="form-control" showIcon='true' placeholder="  Select date"  dataType='string'  [dateFormat]="userDateFormat"></p-calendar>
               </div>
            </div>
         </div>
      </div>
      <div class="form-group row">
         <div class="col-md-6" style="margin-left:380px">
            <button type="submit" [disabled] = "vehicleOffRoadForm.invalid" class="btn btn-primary btn-sm marr20">Save</button>
            <button type="button" class="btn btn-default btn-sm marr20" (click)="reset()">Reset</button>
            <button type="button" class="btn btn-default btn-sm marr20" [routerLink]="['/fms/vehicle-offroad/list']">Cacel</button>
         </div>
      </div>
   </div>
   </form>
      <div *ngIf="showSpinner" class="spinner">
                  <mat-progress-spinner  [color] = "color" [mode] = "mode"></mat-progress-spinner>  
      </div>
      <div *ngIf="showSpinner" class="spinnerOverlay"></div>

      <p-growl baseZIndex="100" [(value)]="msgs"></p-growl>
</div>