/* This file contains 
   Application font family



 */


/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

/*for spinner*/
.spinner {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 400px;
  top: 244px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 233px;
  padding: 12px;
}

 .spinnerOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}

.alert{
  font-weight: 400;
}

.card{
    background-color: white !important;
    border-radius: 0px !important;
}

.profileAvatar{
    width: 38px;
    height: 38px;
    border-radius: 50%;
    margin-top: -5px;
  }

  
  .page_loader {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%,-50%); /* IE 9 */
    -webkit-transform: translate(-50%,-50%); /* Safari */
    transform: translate(-50%,-50%); /* Standard syntax */
    width: 70px;
    height: 70px;
    > div {
        width: 18px;
        height: 18px;
        background-color: #333;

        border-radius: 100%;
        display: inline-block;
        -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    }
    .bounce1 {
        -webkit-animation-delay: -0.32s;
        animation-delay: -0.32s;
    }

    .bounce2 {
        -webkit-animation-delay: -0.16s;
        animation-delay: -0.16s;
    }
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


.ui-overlaypanel {
    margin-top:5px !important;
    margin-left:110px !important;
    left: -82.906px !important;
}



.notificationDropDownMenu{
    margin-left: -225px !important;
    width: 450px;
}
/*
.div_hover { background-color: #FFFFFF !important;}

.div_hover:hover { background-color: #e6ecf0 !important; }
*/

/* Application font family */
body{
    background-color: #FAFAFA !important;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif !important;
    // font-size: 16px;
    overflow-x: hidden !important;
}

body,.headerIconLabel{
  font-weight: 400 !important;
  font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol" !important;
}

body,body,.headerIconLabel{
  font-family: medium-content-sans-serif-font,-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif !important;
}
