/* You can add global styles to this file, and also import other style files */
// @import "bootstrap/bootstrap";
@import "spinner";
@import "utils";
@import "rtl";
@import "responsive";

/*for spinner*/
.spinner {
  z-index: 1000;
  position: fixed;
  right: 0;
  left: 400px;
  top: 244px;
  margin-right: auto;
  margin-left: auto;
  min-height: 200px;
  width: 90%;
  max-width: 233px;
  padding: 12px;
}

 .spinnerOverlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 999;
}

.justify-content-center {
    display: flex !important;
    justify-content: center !important;
}


body{
    // background-color: #f5f5f5 !important;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif !important;
    // font-size: 16px;
    overflow-x: hidden !important;
}

.card{
    background-color: white !important;
    border-radius: 0px !important;
}