<div class="container marTop50">
    <h3>Help page</h3>
    <hr>
    <div class="row">
        <div class="col-md-2 chip">
            <img src="assets/images/img_avatar.png" alt="Person" width="96" height="96">
            <b>Durgarao</b>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 chip">
            <img src="assets/images/img_avatar.png" alt="Person" width="96" height="96">
            <b>Sudheer</b>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 chip">
            <img src="assets/images/img_avatar.png" alt="Person" width="96" height="96">
            <b> Ravikanth</b>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-2 chip">
            <img src="assets/images/img_avatar.png" alt="Person" width="96" height="96">
            <b> Neeraj</b>
        </div>
    </div>
    <br>
    <br>
    <h4>Meet the team</h4>
    <hr>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Jane" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Durgarao</h4>
                    <p class="title">Full stack developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Mike" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Sudheer</h4>
                    <p class="title">Backend Developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>
        
        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="John" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Ravikanth</h4>
                    <p class="title">UI Developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>ravikanth@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Mike" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Neeraj</h4>
                    <p class="title">Management</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>
    </div>
</div>