<div class="container !isActivity ? marTop45 : ''">
    <br *ngIf="!isActivity" class="d-block d-sm-none">
    <br *ngIf="!isActivity">
    <div class="row" infinite-scroll [infiniteScrollDistance]="0" [infiniteScrollThrottle]="300" (scrolled)="!isActivity ? loadMorePosts() : ''">
        <div class="col-md-3 col-sm-3 d-none d-sm-block" *ngIf="!isMobile && !isActivity">
            <side-menu></side-menu>
        </div>
        <div *ngIf="!underMaintenace">
            <app-oopserror [displayObject]="{type:'warning',message:'underMaintenance'}"></app-oopserror>
        </div>
        <div [class]="!isMobile ? 'col-md-6' : 'col-md-12'" *ngIf="underMaintenace">
            <div *ngIf="validUser && !paramId && !isActivity">
                <create-post></create-post>
            </div>
            <div *ngIf="!validUser && !isActivity">
                <create-post></create-post>
            </div>
            <br>
            <div *ngFor="let post of postsList;index as i;trackBy : post?.postId;">


                <div class="card div_hover rounded shadow-sm" *ngIf="post && post.postId">
                    <div style="padding:10px;" *ngIf="isActivity">
                        You <span *ngFor="let act of post.activity">{{ (getActivityName(act) | titlecase)}}<span *ngIf="post.activity?.length > 1 && post.activity[post.activity?.length-1].id != act.id">,
                            </span> </span>
                        <hr style="margin-top: 0px;margin-bottom: -10px;">
                    </div>
                    <div class="card-header noticer-card-header bg-white d-flex justify-content-between">
                        <div>

                            <span class="align-middle"><a *ngIf="post._type != 'BoardPost'" [href]="getPageUrl(post._type, null, null)"
                                    (click)="!!goToCategoriesPage(post._type, null, null)">{{getSectionFromType(post._type)}}
                                </a></span>
                            <span class="align-middle" *ngIf="post.category"> / <a [href]="getPageUrl(post._type, post.category, null)"
                                    (click)="!!goToCategoriesPage(post._type, post.category, null)">{{
                                    getModelFromTypeCategory(post._type, post.category)}}</a></span>
                            <span class="align-middle" *ngIf="post.model"> / <a [href]="getPageUrl(post._type, post.category, post.model)"
                                    (click)="!!goToCategoriesPage(post._type, post.category, post.model)">{{
                                    getModelFromTypeModel(post._type, post.model)}}</a></span>
                        </div>
                        <div class="btn-group">
                            <button type="button" title="Actions" id="postActions" class="btn btn-sm btn-light bg-white border-0 dropdown-toggle"
                                style="font-size: 20px;margin-top: -4px;height: 10px;" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-ellipsis-h"></i>
                            </button>
                            <div class="dropdown-menu dropdown-menu-right">
                                <button class="dropdown-item" type="button" *ngIf="post.userProfile && currentuserId == post.userProfile.userId"
                                    (click)="editPost(post.postId, post._type, editPostDialog)"><i class="fas fa-edit"></i>
                                    Edit</button>
                                <button class="dropdown-item" type="button" *ngIf="post.userProfile && currentuserId == post.userProfile.userId"
                                    (click)="deletePost(post.postId, post._type)"><i class="fas fa-trash-alt"></i>
                                    Delete</button>
                                <button class="dropdown-item" type="button" *ngIf="validUser" (click)="createReport(post.postId, post._type)"><i
                                        class="fas fa-flag"></i> Report</button>
                                <button class="dropdown-item" type="button" (click)="copyMethod(post)"><i class="fas fa-copy"></i>
                                    Copy Link</button>
                            </div>
                        </div>
                    </div>
                    <!--<div class="d-flex justify-content-between" style="padding: 5px 0px 5px 0px;">
                        <div>
                            <span style="padding-left: 10px;">
                                <a *ngIf="post._type != 'BoardPost'" [href]="getPageUrl(post._type, null, null)"
                                    (click)="!!goToCategoriesPage(post._type, null, null)">{{getSectionFromType(post._type)}}
                                </a>
                                <span *ngIf="post.category"> / <a [href]="getPageUrl(post._type, post.category, null)"
                                        (click)="!!goToCategoriesPage(post._type, post.category, null)">{{
                                        getModelFromTypeCategory(post._type, post.category)}}</a></span>
                                <span *ngIf="post.model"> / <a [href]="getPageUrl(post._type, post.category, post.model)"
                                        (click)="!!goToCategoriesPage(post._type, post.category, post.model)">{{
                                        getModelFromTypeModel(post._type, post.model)}}</a></span></span>
                        </div>
                        <div style="padding: 3px 7px 0px 0px;">

                           

                            <i class="fas fa-ellipsis-h" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                                placement="top" [ngbTooltip]="isMobile ? '' : Actions" aria-expanded="false" style="font-size: 20px;"></i>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                                <button class="dropdown-item" type="button" *ngIf="post.userProfile && currentuserId == post.userProfile.userId"
                                    (click)="editPost(post.postId, post._type, editPostDialog)"><i class="fas fa-edit"></i>
                                    Edit</button>
                                <button class="dropdown-item" type="button" *ngIf="post.userProfile && currentuserId == post.userProfile.userId"
                                    (click)="deletePost(post.postId, post._type)"><i class="fas fa-trash-alt"></i>
                                    Delete</button>
                                <button class="dropdown-item" type="button" *ngIf="validUser" (click)="createReport(post.postId, post._type)"><i
                                        class="fas fa-flag"></i> Report</button>
                                <button class="dropdown-item" type="button" (click)="copyMethod(post)"><i class="fas fa-copy"></i>
                                    Copy Link</button>
                            </div>

                        </div>
                    </div>

                    <hr style="margin-top: -3px;">-->
                    <div class="row" style="padding-left: 9px;margin-top: 0px;">
                        <div>
                            <img width="80" height="80" style="padding: 18px;border-radius: 50px;margin-top: -7px;" alt="Avatar"
                                [src]="(post.userProfile && post.userProfile.profileImageUrl  && post.userProfile.profileImageUrl?.length>0 ) ? ((imageFromAws(post.userProfile.profileImageUrl) ? '' : serverUrl) + post.userProfile.profileImageUrl) : 'assets/images/noticer_default_user_img.png'">
                        </div>
                        <div style="margin-left: -48px;margin-top: 12px;">
                            <ul>
                                <li>
                                    <a href="profile/users/{{post.userProfile.userId}}" *ngIf="post.userProfile"
                                        (click)="!!redirectToOtherProfile(post.userProfile.userId)" style="color: black;font-weight: 400;">
                                        {{post.userProfile ? post.userProfile.userName : '-NA-'}}
                                    </a>
                                    <a href="javascript:void(0);" *ngIf="!post.userProfile" style="color: black;font-weight: 400;">
                                        {{post.userProfile ? post.userProfile.userName : '-NA-'}}
                                    </a>
                                </li>
                                <li class="text-muted" style="font-size: 12px;">{{post.createTime | date: 'MMM d, y,
                                    h:mm a'}}</li>
                            </ul>
                        </div>
                    </div>
                    <div style="margin-left: 17px;">
                        <div *ngIf="post._type == 'CareerPost'">
                            <div *ngIf="post.deadline">
                                Deadline: {{post.deadline}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="events" style="padding-left: 18px;padding-bottom: 10px;" *ngIf="post._type == 'EventsPost'">



                            <div class="row">
                                <div *ngIf="post.fromdate && post.todate" class="col-md-6">
                                    <div class="d-flex w-100">
                                        <div class="p-1"><i class="fas fa-calendar-alt"></i></div>
                                        <div class="p-1 w-100 flex-shrink-1">{{post.fromdate}} to {{post.todate}}</div>
                                    </div>
                                </div>
                                <div *ngIf="post.website" class="col-md-6">
                                    <div class="d-flex w-100">
                                        <div class="p-1"><i class="fa fa-globe" aria-hidden="true"></i> </div>
                                        <div class="p-1 w-100 flex-shrink-1" style="width:90% !important;"> <a class="p-35"
                                                href="javascript:void(0);" (click)="onNavigate(post.website)">
                                                {{post.website}}</a></div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div *ngIf="post.contacts" class="col-md-6">
                                    <div class="d-flex w-100">
                                        <div class="p-1"><i class="fas fa-phone-square"></i></div>
                                        <div class="p-1 w-100 flex-shrink-1">{{post.contacts}}</div>
                                    </div>
                                </div>
                                <div *ngIf="post.location" class="col-md-6">
                                    <div class="d-flex w-100">
                                        <div class="p-1"> <i class="fas fa-map-marker-alt"></i> </div>
                                        <div class="p-1 w-100 flex-shrink-1"> {{post.location}}</div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="post-text">
                            <h6><b><a *ngIf="!paramId" (click)="navigateToPostDetails(post)" style="color:black" href="javascript:void(0);">
                                        {{post.postTitle ? post.postTitle : '-NA-'}}</a>
                                    <span *ngIf="paramId">{{post.postTitle ? post.postTitle : '-NA-'}}</span></b></h6>
                        </div>
                        <div class="post-text">
                            <!-- [innerHTML] -->
                            <p>
                                <span *ngIf="!paramId" style="color: black;">
                                    <p class="multiLineText card-font-post-content">{{post.postText |
                                        slice:0:post.maxLength}}</p>
                                    <label *ngIf="post.postText.length > post.maxLength">...</label>
                                </span>
                                <a style="padding: 2px;color:gray;" *ngIf="!paramId && post.postText.length > post.maxLength"
                                    (click)="post.maxLength = post.postText.length" href="javascript:void(0);">see
                                    more</a>
                                <span *ngIf="paramId" style="color: black;">
                                    <label class="multiLineText card-font-post-content">{{post.postText}}</label>
                                </span>
                            </p>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="post.images.length == 1">
                            <a disableScrolling="true" [attr.data-lightbox]="post._type+post.postId" data-title="Post Images"
                                href="{{imageFromAws(post.images[0]) ? '' : serverUrl}}{{imageFromAws(post.images[0]) ? '' : '/'}}{{post.images[0]}}">
                                <img src="{{imageFromAws(post.images[0]) ? '' : serverUrl}}{{imageFromAws(post.images[0]) ? '' : '/'}}{{post.images[0]}}"
                                    style="max-width: 100%; max-height: 100%;padding: 7px;">
                            </a>
                        </div>

                        <div class="images" *ngIf="post.images.length == 2" style="padding:7px;">
                            <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <a [attr.data-lightbox]="post._type+post.postId" data-title="Post Images" href="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                        <img style="max-width: 100%; max-height: 100%;" src="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                    </a>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div class="images" *ngIf="post.images.length == 3" style="padding:7px;">
                            <mat-grid-list cols="3" rowHeight="2:2">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <a [attr.data-lightbox]="post._type+post.postId" data-title="Post Images" href="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                        <img style="max-width: 100%; max-height: 100%;" src="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                    </a>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div class="images" *ngIf="post.images.length == 4" style="padding-right: 7px;">
                            <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <a [attr.data-lightbox]="post._type+post.postId" data-title="Post Images" href="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                        <img style="max-width: 100%; max-height: 100%;" src="{{imageFromAws(tile) ? '' : serverUrl}}{{imageFromAws(tile) ? '' : '/'}}{{tile}}">
                                    </a>
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                    </div>
                    <div class="post-text" *ngIf="post.postAnswer && post.viewAnswer">
                        <span class="fntBlack">
                            <h6 class="fntGreen">Answer</h6>
                            <label class="multiLineText">{{post.postAnswer}}</label>
                        </span>
                    </div>
                    <hr>
                    <div style="margin-top: -8px;margin-bottom: -10px;">
                        <ul class="list-inline">
                            <span>
                                <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                    <!-- <a> -->
                                    <i class="fas fa-thumbs-up  likeFont" (click)="cancelVote(post.postId, post._type)"
                                        *ngIf="post.actionAttributes.upVoted"></i>
                                    <i class="far fa-thumbs-up normalLikeFont" (click)="upVote(post.postId, post._type)"
                                        *ngIf="!post.actionAttributes.upVoted"></i>
                                    &nbsp;{{post.actionAttributes.upVoteCount}}
                                    <!-- </a> -->
                                </li>
                                <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                    <!-- <a> -->
                                    <i class="fas fa-star favoriteFont" (click)="cancelFavorite(post.postId, post._type)"
                                        *ngIf="post.actionAttributes.favorited"></i>
                                    <i class="far fa-star normalFavoriteFont" (click)="createFavorite(post.postId, post._type)"
                                        *ngIf="!post.actionAttributes.favorited"></i>
                                    &nbsp;{{post.actionAttributes.favoriteCount}}
                                    <!-- </a> -->
                                </li>
                            </span>
                            <li [ngbTooltip]="tipComment" class="list-inline-item paddingIcons" style="cursor: pointer;"
                                (click)="getCommentsForPost(post.postId,i);">
                                <i class="fas fa-comments iconSize" placement="top"></i>&nbsp;
                                <a>
                                    {{post.commentsCount}}
                                    <!-- Comments -->
                                </a>
                            </li>
                            <ng-template *ngIf="!isMobile" #tipComment>
                                {{ (post.selectComments) ? "Click to hide comments" : "Click to view comments" }}
                            </ng-template>
                            <li class="list-inline-item paddingIcons ml-auto" *ngIf="post.postAnswer" style="cursor: pointer;margin-bottom: -16px;">
                                <a (click)="post.viewAnswer = !post.viewAnswer">
                                    <p [ngbTooltip]="viewAnswer" *ngIf="!post.viewAnswer"><i class="fas fa-eye"></i></p>
                                    <p [ngbTooltip]="viewAnswer" *ngIf="post.viewAnswer"><i class="fas fa-eye-slash"></i></p>
                                </a>
                            </li>
                            <ng-template *ngIf="!isMobile" #viewAnswer>
                                {{ (!post.viewAnswer) ? "View Answer" : "Hide Answer" }}
                            </ng-template>
                        </ul>
                    </div>
                    <div *ngIf="post.selectComments">
                        <hr style="margin-top: -5px;">
                        <div style="padding-left: 7px;padding-right: 7px;padding-bottom: 7px;" *ngIf="validUser">
                            <form>
                                <!--
                                CHANGED :: to make comment button to right side 
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" style="border-radius: 17px;" (click)="createComment(post.commentText, i)"
                                            [disabled]="post.commentText == null || post.commentText.trim()?.length == 0">
                                            <i class="fas fa-share-square"></i>
                                        </button>
                                    </div>
                                    <textarea rows="1" type="text" class="form-control" style="border-radius: 17px;"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="post.commentText"
                                        placeholder="Add a comment.."></textarea>
                                </div>-->
                                <div class="input-group mb-3">
                                    <textarea rows="1" type="text" class="form-control rounded" [ngModelOptions]="{standalone: true}"
                                        [(ngModel)]="post.commentText" placeholder="Add a comment.."></textarea>
                                    <div class="input-group-append" style="margin-left: 5px;">
                                        <button class="btn btn-outline-info border-0 btnSuccess" style="color:white;"
                                            type="button" (click)="createComment(post.commentText, i)" [disabled]="post.commentText == null || post.commentText.trim()?.length == 0">
                                            Send
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div style="padding-left: 7px;padding-right: 7px;padding-bottom: 7px;" class="text-center"
                            *ngIf="!validUser">
                            <h6><a class="addQuestion" href="javascript:void(0);" data-toggle="modal" routerLink="/login">Sign-in
                                    to add comment
                                </a></h6>
                        </div>
                        <div *ngFor="let comment of post.comments;index as in">
                            <div class="wrap" style="margin-top: -6px;">
                                <div class="commentProfile">
                                    <img width="80" height="80" style="padding: 18px;border-radius: 50px;" alt="Avatar"
                                        [src]="(comment.userProfile && comment.userProfile.profileImageUrl && comment.userProfile.profileImageUrl?.length>0) ? ((imageFromAws(comment.userProfile.profileImageUrl) ? '' : serverUrl) + comment.userProfile.profileImageUrl) : 'assets/images/noticer_default_user_img.png'">
                                </div>
                                <div class="commentBody">
                                    <ul>
                                        <li class="d-flex justify-content-between">
                                            <div>
                                                <a style="font-size: 12px;color: black;font-weight: 500;" (click)="redirectToOtherProfile(comment.userProfile.userId)"
                                                    href="javascript:void(0);">
                                                    {{comment.userProfile.userName}}
                                                </a>
                                            </div>
                                            <div style="padding: 0px 13px 0px 0px;float: right;" *ngIf="comment.userProfile && currentuserId == comment.userProfile.userId">
                                                <a id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true"
                                                    placement="top" [ngbTooltip]="isMobile ? '' : Actions"
                                                    aria-expanded="false" style="font-size: 20px;"><i class="fas fa-ellipsis-h"></i></a>
                                                <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                                                    <button class="dropdown-item" type="button" (click)="deleteComment(post.postId, post._type, comment.commentId)"><i
                                                            class="fas fa-trash-alt"></i> Delete</button>
                                                </div>
                                            </div>
                                        </li>
                                        <li style="font-size: 12px;" [class.padCommentDate]="comment.userProfile && currentuserId == comment.userProfile.userId">{{comment.createTime
                                            | date:
                                            'MMM d, y, h:mm
                                            a'}}</li>
                                        <li style="    margin-top: 8px;">
                                            <!-- <p>{{comment.commentText}}</p> -->
                                            <!-- <label [innerHtml]="comment.commentText | slice:0:comment.maxLength"></label> -->
                                            <label class="multiLineText" style="font-size: 13px;">{{comment.commentText
                                                |
                                                slice:0:comment.maxLength}}</label>
                                            <label *ngIf="comment.commentText.length > comment.maxLength">...</label>
                                            <a style="font-size: 13px;padding: 2px;color:gray;" *ngIf="comment.commentText.length > comment.maxLength"
                                                (click)="comment.maxLength = comment.commentText.length" href="javascript:void(0);">see
                                                more</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 50%;" *ngIf="post.commentsSpinner">
                            <div class="loader"></div>
                        </div>
                        <div class="text-center" *ngIf="showMoreCommentsChecker(post.comments, post.commentsCount) && !post.commentsSpinner">
                            <a href="javascript:void(0);" (click)="loadMoreComments(post.postId,i)"> load old comments
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div style="margin-left: 50%;" *ngIf="showPostSpinner">
                <div class="loader"></div>
            </div>
            <div class="text-center" *ngIf="!showPostSpinner">
                <!-- <a *ngIf="postsList.length > 0 && showMoreLink && !paramId" href="javascript:void(0);" (click)="loadMorePosts()">
                    Show more </a> -->
                <!-- 
                    V1.0
                    added new app-oopserror component in shared folder to make unique div in entire applicaiton -->
                <b *ngIf="noData">
                    <app-oopserror></app-oopserror>
                </b>
            </div>
        </div>
        <div class="col-md-3 d-none d-sm-block" *ngIf="!isMobile && !isActivity">
            <right-menu></right-menu>
        </div>
    </div>
    <div style="padding-left:20%" *ngIf="isActivity && from == 'topics' && showMoreActivity">
        <a href="javascript:void(0);" (click)="loadMoreActivities('topics')">load more</a>
    </div>
    <div  style="padding-left:20%"  class="text-center" *ngIf="isActivity && from == 'boards' && showMoreActivity">
        <a href="javascript:void(0);" (click)="loadMoreActivities('boards')">load more</a>
    </div>
    <div (click)="goToTop()" class="btt-btn"><i class="fas fa-chevron-up"></i></div>
</div>




<section>
    <ng-template #editPostDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
                <b>Edit Post</b>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="editPostForm">
            <div formGroupName="data">
                <div class="modal-body">
                    <div class="form-group" style="padding:12px;">
                        <h6>Title</h6>
                        <textarea class="form-control" rows="1" maxlength="300" formControlName="title" placeholder="Question title(max 300Chars)"></textarea>
                    </div>
                    <div class="form-group" style="padding: 1px 12px 1px 12px;">
                        <h6>Question</h6>
                        <textarea class="form-control" formControlName="text" rows="4" placeholder="What is your question?"></textarea>
                    </div>
                    <div class="form-group" style="padding:12px;" *ngIf="editPostForm.controls['context'].get('type').value != 'CAREERS'
                         && editPostForm.controls['context'].get('type').value != 'EVENTS'">
                        <h6>Answer</h6>
                        <textarea class="form-control" rows="2" formControlName="answer" placeholder="Answer"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btnSuccess" [disabled]="editPostForm.invalid" (click)="saveEditPost()">Update</button>
                </div>
            </div>
        </form>
    </ng-template>

</section>
<section>
    <p-confirmDialog header="Confirmation" icon="pi pi-exclamation-triangle" width="23%" #cd>
        <p-footer>
            <button type="button" class="btnDanger" pButton icon="fa-times" label="No" (click)="cd.reject()"></button>
            <button type="button" class="btnSuccess" pButton icon="fa-check" label="Yes" (click)="cd.accept()"></button>
        </p-footer>
    </p-confirmDialog>
</section>