<div class="container marTop45">
    <br class="d-block d-sm-none">
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-3" *ngIf="!isMobile">
            <side-menu></side-menu>
        </div>
        <div [class]="!isMobile ? 'col-md-6' : 'col-md-10'">
            <div class="card question-back">
                <div class="row" style="padding-left: 28px;">
                    <div style="width: 20%;">
                        <img width="80" height="80" style=" padding: 5px;border-radius: 50px;" alt="ThemeMountain" src="assets/images/img_avatar.png">
                    </div>
                    <hr>
                    <div style="width: 80%;">
                        <h3 class="question-text">
                            <a class="addQuestion" href="javascript:void(0);" data-toggle="modal" (click)="postQuestionDialog(postDialog)"
                                *ngIf="questionName?.length == 0">Add your question</a>
                            <a class="addQuestion" href="javascript:void(0);" data-toggle="modal" (click)="postQuestionDialog(postDialog)"
                                *ngIf="questionName?.length > 0">Add your question on
                                <font color="red">{{questionName}}</font>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <br>
            <div *ngFor="let post of postsList;index as i;">
                <div class="card">
                    <div>
                        <span style="font-size: 12px;padding-left: 10px;margin-top: 8px;color: gray">Type:
                            {{post._type}}<span *ngIf="post.category">, Category:{{post.category | titlecase}}</span>
                            <span *ngIf="post.model">, Model:{{post.model | titlecase}}</span></span>
                    </div>
                    <hr style="margin-top: 5px;">
                    <div class="typeAlign dropleft">
                        <i class="fas fa-ellipsis-h" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false" style="font-size: 20px;"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Edit</button>
                            <button class="dropdown-item" type="button">Delete</button>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 9px;margin-top: -15px;">
                        <div>
                            <img width="80" height="80" style="padding: 18px;border-radius: 50px;" alt="UserProfilePic"
                                src="assets/images/img_avatar.png">
                        </div>
                        <div style="margin-left: -48px;margin-top: 12px;">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);" style="color: black;font-weight: 400;">
                                        {{post.userProfile ? post.userProfile.userName : '-NA-'}}
                                    </a>
                                </li>
                                <li class="text-muted" style="font-size: 12px;">{{post.createTime | date: 'MMM d, y,
                                    h:mm:ss a'}}</li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="post._type == 'EventsPost'">
                            <table>
                                <tr>
                                    <td>
                                        {{post.topic}}
                                    </td>
                                    <td *ngIf="post.fromdate && post.todate">
                                        <i class="fas fa-calendar-alt"></i>
                                        {{post.fromdate}} to {{post.todate}}
                                    </td>
                                </tr>
                                <tr>
                                    <td *ngIf="post.website">
                                        <a href="www.google.com">{{post.website}}</a>
                                    </td>
                                    <td *ngIf="post.contacts">
                                        <i class="fas fa-phone-square"></i> {{post.contacts}}</td>
                                </tr>
                            </table>
                            <br>
                        </div>
                        <div class="post-text">
                            <!-- [innerHTML] -->
                            <p>
                                <label [innerHtml]="post.postText | slice:0:post.maxLength"></label>
                                <!-- {{post.postText | slice:0:post.maxLength}} -->
                                <label *ngIf="post.postText.length > post.maxLength">...</label>
                                <a style="font-size: 12px;padding: 2px;color:gray;" *ngIf="post.postText.length > post.maxLength"
                                    (click)="post.maxLength = post.postText.length" href="javascript:void(0);">see more</a>
                            </p>
                        </div>
                    </div>
                    <div style="margin-top: -23px;">
                        <div *ngIf="post.images.length == 1">
                            <img src="{{serverUrl}}/{{post.images[0]}}" style="max-width: 100%;
                                max-height: 100%;padding: 7px;"
                                class="rounded" alt="Post">
                        </div>

                        <div class="images" *ngIf="post.images.length == 2" style="padding:7px;">
                            <!-- <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[0]}}" style="max-width: 100%;
                            max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span>
                            <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[1]}}" style="max-width: 100%;
                            max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span> -->
                            <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <img style="max-width: 100%;
                                        max-height: 100%;"
                                        src="{{serverUrl}}/{{tile}}">
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>
                        <div class="images" *ngIf="post.images.length == 3" style="padding:7px;">
                            <!-- <div class="row">
                                <div class="col-md-6">
                                    <img src = "{{serverUrl}}/{{post.images[0]}}" style="max-width: 100%;
                                        max-height: 100%;padding: 7px;height: 270px;"
                                        class="rounded" alt="Post">
                                </div>
                                <div class="col-md-6">
                                    <img src = "{{serverUrl}}/{{post.images[1]}}" style="max-width: 100%;
                                    max-height: 100%;padding: 7px;"
                                        class="rounded" alt="Post">
                                    <img src = "{{serverUrl}}/{{post.images[2]}}" style="max-width: 100%;
                                    max-height: 100%;padding: 7px;"
                                        class="rounded" alt="Post">
                                </div>
                            </div> -->
                            <mat-grid-list cols="3" rowHeight="2:2">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <img style="max-width: 100%;
                                        max-height: 100%;"
                                        src="{{serverUrl}}/{{tile}}">
                                </mat-grid-tile>
                            </mat-grid-list>
                        </div>

                        <div class="images" *ngIf="post.images.length == 4" style="padding-right: 7px;">
                            <mat-grid-list cols="2" rowHeight="2:1">
                                <mat-grid-tile *ngFor="let tile of post.images">
                                    <img style="max-width: 100%;
                                            max-height: 100%;"
                                        src="{{serverUrl}}/{{tile}}">
                                </mat-grid-tile>
                            </mat-grid-list>
                            <!-- <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[0]}}" style="max-width: 100%;
                            max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span>
                            <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[1]}}" style="max-width: 100%;
                            max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span>
                            <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[2]}}" style="max-width: 100%;
                                max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span>
                            <span class="item">
                                <img src = "{{serverUrl}}/{{post.images[3]}}" style="max-width: 100%;
                                max-height: 100%;padding: 7px;"
                                    class="rounded" alt="Post">
                            </span> -->
                        </div>
                    </div>
                    <hr>
                    <div style="margin-top: -8px;margin-bottom: -10px;">
                        <ul class="list-inline">
                            <!-- <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                <i class="far fa-thumbs-up iconSize"></i>&nbsp; 12
                            </li>
                            <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                <i class="far fa-thumbs-down iconSize"></i>&nbsp; 3
                            </li> -->
                            <li class="list-inline-item paddingIcons" style="cursor: pointer;" (click)="post.selectComments = !post.selectComments;getCommentsForPost(post.postId,i);">
                                <i class="fas fa-comments iconSize"></i>&nbsp;
                                <a>
                                    {{post.commentsCount}} Comments
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="post.selectComments">
                        <hr style="margin-top: -5px;">
                        <div style="padding-left: 7px;padding-right: 7px;padding-bottom: 7px;">
                            <form>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default" style="border-radius: 17px;" (click)="createComment(post.commentText, i)"
                                            [disabled]="post.commentText == null || post.commentText?.length == 0">
                                            <i class="fas fa-share-square"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" style="border-radius: 17px;"
                                        [ngModelOptions]="{standalone: true}" [(ngModel)]="post.commentText"
                                        placeholder="Add a comment..">
                                </div>
                            </form>
                        </div>
                        <div *ngFor="let comment of post.comments;index as in">
                            <div class="wrap" style="margin-top: -6px;">
                                <div class="commentProfile">
                                    <img width="80" height="80" style="padding: 18px;border-radius: 50px;" alt="ThemeMountain"
                                        src="assets/images/user.png">
                                </div>
                                <div class="commentBody">
                                    <ul>
                                        <li>
                                            <a style="font-size: 11px;color: black;font-weight: 500;" href="javascript:void(0);">
                                                {{comment.userProfile.userName}}
                                            </a>
                                        </li>
                                        <li style="font-size: 10px;">{{comment.createTime | date: 'MMM d, y, h:mm:ss
                                            a'}}</li>
                                        <li style="font-size: 13px;">
                                            <!-- <p>{{comment.commentText}}</p> -->
                                            <label [innerHtml]="comment.commentText | slice:0:comment.maxLength"></label>
                                            <label *ngIf="comment.commentText.length > comment.maxLength">...</label>
                                            <a style="font-size: 12px;padding: 2px;color:gray;" *ngIf="comment.commentText.length > comment.maxLength"
                                                (click)="comment.maxLength = comment.commentText.length" href="javascript:void(0);">see
                                                more</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div style="margin-left: 50%;" *ngIf="post.commentsSpinner">
                            <div class="loader"></div>
                        </div>
                        <div class="text-center" *ngIf="showMoreCommentsChecker(post.comments, post.commentsCount) && !post.commentsSpinner">
                            <a href="javascript:void(0);" (click)="loadMoreComments(post.postId,i)"> load old comments
                            </a>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div style="margin-left: 50%;" *ngIf="showPostSpinner">
                <div class="loader"></div>
            </div>
            <div class="text-center" *ngIf="!showPostSpinner">
                <a *ngIf="postsList.length > 0 && showMoreLink" href="javascript:void(0);" (click)="loadMorePosts()">
                    Show more </a>
                <b *ngIf="postsList.length == 0">Opps! No Posts Available</b>
            </div>
        </div>
        <div class="col-md-3" *ngIf="!isMobile">
            <right-menu></right-menu>
        </div>
    </div>
</div>





<!-- Create post dialog code -->
<section>
    <ng-template #postDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
                <b>Add Question</b>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addPostForm">
            <div class="modal-body" formGroupName="data">
                <div class="form-group" style="padding:12px;">
                    <textarea class="form-control" formControlName="postText" placeholder="What is your question?"></textarea>
                </div>
                <!-- post start -->
                <div class="addPost">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <p-dropdown [disabled]="isValidType" placeholder=" Type" [options]="types" (onChange)="getCategoriesByType(_type.value)"
                                [style]="{'width':'100%'}" formControlName="_type1" filter="true" #_type>
                                <ng-template let-type pTemplate="item">
                                    <div class="ui-helper-clearfix" style="width: 25px;">
                                        <span style="vertical-align:middle">{{type.label}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <p-dropdown [disabled]="isValidCategory" placeholder=" Category" [options]="categories"
                                [style]="{'width':'100%'}" formControlName="category" filter="true">
                                <ng-template let-category pTemplate="item">
                                    <div class="ui-helper-clearfix" style="width: 25px;">
                                        <span style="vertical-align:middle">{{category.label}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <p-dropdown placeholder=" Model" [options]="models" [style]="{'width':'100%'}"
                                formControlName="model" filter="true">
                                <ng-template let-model pTemplate="item">
                                    <div class="ui-helper-clearfix" style="width: 25px;">
                                        <span style="vertical-align:middle">{{model.label}}</span>
                                    </div>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>

                    <!-- events -->
                    <div class="row" *ngIf="addPostForm.controls['data'].get('_type1').value == 'EVENTS'">
                        <div class="form-group col-md-6">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" placeholder="To Date" [style]="{'width':'95%'}"
                                [inputStyle]="{'width':'95%'}"></p-calendar>
                        </div>
                        <div class="form-group col-md-6">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" placeholder="From Date" [style]="{'width':'95%'}"
                                [inputStyle]="{'width':'95%'}"></p-calendar>
                        </div>
                    </div>
                    <div class="row" *ngIf="addPostForm.controls['data'].get('_type1').value == 'EVENTS'">
                        <div class="form-group col-md-6">
                            <input class="form-control form-control-sm" type="text" formControlName="topic" placeholder="Topic">
                        </div>
                        <div class="form-group col-md-6">
                            <input class="form-control form-control-sm" type="text" formControlName="contacts"
                                placeholder="Contacts">
                        </div>
                    </div>
                    <!-- events end -->

                    <!-- careers -->
                    <div class="col-md-4" *ngIf="addPostForm.controls['data'].get('_type1').value == 'CAREERS'">
                        <p-multiSelect [options]="audienceList" [style]="{'width':'100%','height':'34px'}" defaultLabel="Qualifications"></p-multiSelect>
                    </div>
                    <!-- careers end -->
                </div>
                <!-- post end -->

                <!-- Images list start-->
                <div class="addPost">
                    <div style="padding-left: 50px;padding-right: 3px;">
                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="150" height="150">
                    </div>
                </div>
                <!-- Images list end-->
            </div>
            <!-- model end-->

            <ul class="list-inline postIcons">
                <span class="btn btn-light btn-file">
                    <i class="fas fa-camera"></i> Browse photos
                    <input type="file" accept="image/*" multiple (change)="detectFiles($event)">
                </span>
            </ul>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="createPost()">Post</button>
            </div>
        </form>
    </ng-template>
</section>