<div class="container marTop45">
    <br class="d-block d-sm-none">
    <br>
    <div class="row">
        <div class="col-md-3 col-sm-3" *ngIf="!isMobile">
            <side-menu></side-menu>
        </div>
        <div [class]="!isMobile ? 'col-md-7' : 'col-md-10'">
            <div class="card question-back">
                <div class="row" style="padding-left: 28px;">
                    <div style="width: 20%;">
                        <img width="80" height="80" style="padding: 9px;" alt="ThemeMountain" src="assets/images/question.png">
                    </div>
                    <div style="width: 80%;">
                        <h3 class="question-text">
                            <a class="addQuestion" href="javascript:void(0);" data-toggle="modal" (click)="postQuestionDialog(postDialog)" *ngIf="questionName?.length == 0">Add your question</a>
                            <a class="addQuestion" href="javascript:void(0);" data-toggle="modal" (click)="postQuestionDialog(postDialog)" *ngIf="questionName?.length > 0">Add your question on
                                <font color="red">{{questionName}}</font>
                            </a>
                        </h3>
                    </div>
                </div>
            </div>
            <br>
            <div *ngFor="let post of postsList;index as i;">
                <div class="card">
                    <div *ngIf="post._type != 'EventsPost'">
                        <li class="text-muted" style="font-size: 12px;padding-left: 10px;">Type: {{post._type}}, Category: {{post.category | uppercase}}, Model: {{post.model}}</li>
                    </div>
                    <div *ngIf="post._type == 'EventsPost'" style="margin-top: 10px;">
                    </div>
                    <div class="typeAlign dropleft">
                        <i class="fas fa-bars" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: 15px;"></i>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                            <button class="dropdown-item" type="button">Edit</button>
                            <button class="dropdown-item" type="button">Delete</button>
                        </div>
                    </div>
                    <div class="row" style="padding-left: 9px;margin-top: -40px;">
                        <div>
                            <img width="80" height="80" style="padding: 18px;" alt="UserProfilePic" src="assets/images/user.png">
                        </div>
                        <div style="margin-left: -48px;margin-top: 12px;">
                            <ul>
                                <li>
                                    <a href="javascript:void(0);">
                                        <b>{{post.userProfile ? post.userProfile.userName : '-NA-'}}</b>
                                    </a>
                                </li>
                                <!-- <li class="text-muted">2 min ago</li> -->
                                <li class="text-muted">{{post.createTime | date: 'dd/MM/yyyy'}}</li>
                                <!-- <li class="text-muted">{{post.time}}</li> -->
                            </ul>
                        </div>
                    </div>
                    <div>
                        <div *ngIf="post._type == 'EventsPost'">
                            <table>
                                <tr>
                                    <td>
                                        <b class="eventColor">Category: </b> {{post.eventCategory}}</td>
                                    <td>
                                        <b class="eventColor">Type: </b>{{post.eventType}}</td>
                                    <td *ngIf="post.fromdate && post.todate">
                                        <b class="eventColor">
                                            <i class="fas fa-calendar-alt"></i> Dates: </b>{{post.fromdate}} to {{post.todate}}</td>
                                </tr>
                                <tr>
                                    <td>
                                        <b class="eventColor">Topic: </b> {{post.topic}}</td>
                                    <td *ngIf="post.website">
                                        <b class="eventColor">Website: </b>
                                        <a href="www.google.com">{{post.website}}</a>
                                    </td>
                                    <td *ngIf="post.contacts">
                                        <b class="eventColor">
                                            <i class="fas fa-phone-square"></i> Phone: </b> {{post.contacts}}</td>
                                </tr>
                            </table>
                            <br>
                        </div>
                        <h4 class="post-text">
                            <!-- [innerHTML] -->
                            <p>
                                {{post.postText | slice:0:post.maxLength}}
                                <label *ngIf="post.postText.length > post.maxLength">...</label>
                                <a style="font-size: 12px;padding: 2px;color:gray;" *ngIf="post.postText.length > post.maxLength" (click)="post.maxLength = post.postText.length"
                                    href="javascript:void(0);">see more</a>
                            </p>
                        </h4>
                    </div>
                    <div>
                        <!-- <img src="assets/images/jobnotification.jpg" style="max-width: 100%;
                        max-height: 100%;padding: 7px;" class="rounded" alt="Post"> -->
                    </div>
                    <hr>
                    <div>
                        <ul class="list-inline">
                            <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                <i class="far fa-thumbs-up iconSize"></i>&nbsp;&nbsp;
                                <strong>12</strong>
                            </li>
                            <li class="list-inline-item paddingIcons" style="cursor: pointer;">
                                <i class="far fa-thumbs-down iconSize"></i>&nbsp;&nbsp;
                                <strong>3</strong>
                            </li>
                            <li class="list-inline-item paddingIcons" style="cursor: pointer;" (click)="post.selectComments = !post.selectComments;">
                                <i class="fas fa-comments iconSize"></i>&nbsp;&nbsp;
                                <a>
                                    <strong>{{post.commentsCount}}</strong>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div *ngIf="post.selectComments">
                        <hr style="margin-top: -5px;">
                        <div class="row" style="padding-left: 45px;margin-top: -23px;">
                            <div>
                                <img width="80" height="80" style="padding: 18px;border-radius: 50px;" alt="ThemeMountain" src="assets/images/user.png">
                            </div>
                            <div style="margin-left: -48px;margin-top: 12px;">
                                <ul>
                                    <li>
                                        <a style="font-size: 11px;" href="javascript:void(0);">
                                            <b>Durgarao Asapu</b>
                                        </a>
                                    </li>
                                    <li style="font-size: 10px;">2 min ago</li>
                                    <li>
                                        <p>1st comment</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="row" style="padding-left: 45px;margin-top: -23px;">
                            <div>
                                <img width="80" height="80" style="padding: 18px;border-radius: 50px;" alt="ThemeMountain" src="assets/images/user.png">
                            </div>
                            <div style="margin-left: -48px;margin-top: 12px;">
                                <ul>
                                    <li>
                                        <a style="font-size: 11px;" href="javascript:void(0);">
                                            <b>Durgarao Asapu</b>
                                        </a>
                                    </li>
                                    <li style="font-size: 10px;">2 min ago</li>
                                    <li>
                                        <p>2nd comment</p>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div style="margin-left: 45px;padding: 10px;">
                            <form>
                                <div class="input-group">
                                    <div class="input-group-btn">
                                        <button class="btn btn-default">
                                            <i class="fas fa-share-square"></i>
                                        </button>
                                    </div>
                                    <input type="text" class="form-control" placeholder="Add a comment..">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            <div style="margin-left: 50%;" *ngIf="showPostSpinner">
                <div class="loader"></div>
            </div>
            <div class="text-center" *ngIf="!showPostSpinner">
                <a *ngIf="postsCommentsList?.length < 5" href="javascript:void(0);" (click)="loadMorePosts()"> Show more </a>
            </div>
        </div>
        <div class="col-md-2" *ngIf="!isMobile">
            <right-menu></right-menu>
        </div>
    </div>
</div>


<!-- Create post dialog code -->
<section>
    <ng-template #postDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">
                <b>Add Question</b>
            </h5>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <form [formGroup]="addPostForm">
            <div class="modal-body" formGroupName="data">

                <div class="form-group" style="padding:12px;">
                    <textarea class="form-control" formControlName="text" placeholder="What is your question?"></textarea>
                </div>


                <!-- Verbal/Quants post start -->
                <div class="addPost" *ngIf="showAddPost.general">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <p-dropdown placeholder=" Type" [options]="types" [style]="{'width':'100%'}" formControlName="_type" filter="true">
                                <ng-template let-type pTemplate="item">
                                    <span style="vertical-align:middle">{{type.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <p-dropdown placeholder=" Category" [options]="categories" [style]="{'width':'100%'}" formControlName="category" filter="true">
                                <ng-template let-category pTemplate="item">
                                    <span style="vertical-align:middle">{{category.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <p-dropdown placeholder=" Model" [options]="models" [style]="{'width':'100%'}" formControlName="model" filter="true">
                                <ng-template let-model pTemplate="item">
                                    <span style="vertical-align:middle">{{model.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <!-- Verbal/Quants post end -->

                <!-- Verbal/Quants post start -->
                <div class="addPost" *ngIf="showAddPost.verbal || showAddPost.quants">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p-dropdown [disabled]="disableCategory" placeholder=" Category" [options]="categories" [style]="{'width':'100%'}" formControlName="category"
                                filter="true">
                                <ng-template let-category pTemplate="item">
                                    <span style="vertical-align:middle">{{category.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-6">
                            <p-dropdown placeholder=" Model" [options]="models" [style]="{'width':'100%'}" formControlName="model" filter="true">
                                <ng-template let-model pTemplate="item">
                                    <span style="vertical-align:middle">{{model.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                </div>
                <!-- Verbal/Quants post end -->

                <!-- Events post start-->
                <div class="addPost" *ngIf="showAddPost.events">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p-dropdown placeholder=" State" [options]="states" [style]="{'width':'100%'}" formControlName="state" filter="true">
                                <ng-template let-state pTemplate="item">
                                    <span style="vertical-align:middle">{{state.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-6">
                            <p-dropdown placeholder=" Institute" [options]="institutes" [style]="{'width':'100%'}" formControlName="institute" filter="true">
                                <ng-template let-institute pTemplate="item">
                                    <span style="vertical-align:middle">{{institute.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p-dropdown [disabled]="disableCategory" placeholder=" Category" [options]="categories" [style]="{'width':'100%'}" formControlName="category" filter="true">
                                <ng-template let-category pTemplate="item">
                                    <span style="vertical-align:middle">{{category.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-6">
                            <p-dropdown placeholder=" Model" [options]="models" [style]="{'width':'100%'}" formControlName="model" filter="true">
                                <ng-template let-model pTemplate="item">
                                    <span style="vertical-align:middle">{{model.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" placeholder="To Date" [style]="{'width':'95%'}" [inputStyle]="{'width':'95%'}"></p-calendar>
                        </div>
                        <div class="form-group col-md-6">
                            <p-calendar [showIcon]="true" dateFormat="dd/mm/yy" placeholder="From Date" [style]="{'width':'95%'}" [inputStyle]="{'width':'95%'}"></p-calendar>
                        </div>
                    </div>
                </div>
                <!-- Events post end-->

                <!-- Careers post start -->
                <div class="addPost" *ngIf="showAddPost.careers">
                    <div class="row">
                        <div class="form-group col-md-4">
                            <p-dropdown [disabled]="disableCategory" placeholder=" Category" [options]="categories" [style]="{'width':'100%'}" formControlName="category" filter="true">
                                <ng-template let-category pTemplate="item">
                                    <span style="vertical-align:middle">{{category.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="form-group col-md-4">
                            <p-dropdown placeholder=" Model" [options]="models" [style]="{'width':'100%'}" formControlName="model" filter="true">
                                <ng-template let-model pTemplate="item">
                                    <span style="vertical-align:middle">{{model.label}}</span>
                                </ng-template>
                            </p-dropdown>
                        </div>
                        <div class="col-md-4">
                            <p-multiSelect [options]="audienceList" [style]="{'width':'100%','height':'34px'}" defaultLabel="Qualifications"></p-multiSelect>
                        </div>
                    </div>
                </div>
                <!-- Careers post end -->

                <!-- Images list start-->
                <div class="addPost">
                    <div style="padding-left: 50px;">
                        <img *ngFor="let url of urls" [src]="url" class="rounded mb-3" width="100" height="100">
                    </div>
                </div>
                <!-- Images list end-->
            </div>
            <!-- model end-->

            <ul class="list-inline postIcons">
                <span class="btn btn-light btn-file">
                    <i class="fas fa-camera"></i> Browse photos
                    <input type="file" multiple (change)="detectFiles($event)">
                </span>
            </ul>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" (click)="createPost()">Post</button>
            </div>
        </form>
    </ng-template>
</section>