<div class="container marTop50">

    <h4>Meet the team</h4>
    <hr>
    <div class="row">
        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Jane" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Durgarao</h4>
                    <p class="title">Full stack developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Mike" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Sudheer</h4>
                    <p class="title">Backend Developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="John" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Ravikanth</h4>
                    <p class="title">UI Developer</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>ravikanth@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card">
                <img src="assets/images/img_avatar.png" alt="Mike" style="width:100%">
                <div class="container">
                    &nbsp;
                    <h4>Neeraj</h4>
                    <p class="title">Management</p>
                    <!-- <p>Some text that describes me lorem ipsum ipsum lorem.</p>
                    <p>example@example.com</p>
                    <p>
                        <button class="button">Contact</button>
                    </p> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="column">
           <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Durgarao</h1> 
                  <p>Full stack developer</p> 
                  <p></p>
                </div>
              </div>
            </div>
         </div>

        <div class="column">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Sudheer</h1> 
                  <p>Backend Developer</p> 
                  <p></p>
                </div>
              </div>
            </div>
            
        </div>

        <div class="column">
             <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Ravikanth MP</h1> 
                  <p>UI Developer</p> 
                  <p></p>
                </div>
              </div>
            </div>
            
        </div>
        <div class="column">
            <div class="flip-card">
              <div class="flip-card-inner">
                <div class="flip-card-front">
                  <img src="assets/images/img_avatar.png" alt="Avatar" style="width:300px;height:300px;">
                </div>
                <div class="flip-card-back">
                  <h1>Neeraj</h1> 
                  <p>Management</p> 
                  <p></p>
                </div>
              </div>
            </div>
             
        </div>
    </div>
</div>
