<section>
    <ul class="nav nav-pills fixed-top justify-content-center navBackColor">
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="sideMenuOpen()">
                <b>
                    <i class="fas fa-bars  header-icon-size"></i>
                </b>
            </a>
        </li>
        <!-- <li class="nav-item header_logo">
            <a href="javascript:void(0);" style="margin-top: 4px;" routerLink="/feed" class="navbar-brand mr-0">
                <font style="font-family: cursive;color: #ffffff;font-size: 22px;">
                    <b>Noticer</b>
                </font>
            </a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" routerLink="/feed">
                <b>
                    <i class="fas fa-home header-icon-size"></i>
                </b>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);" (click)="openTab()">
                <b>
                    <i class="fas fa-edit header-icon-size"></i>
                </b>
            </a>
        </li>
        <li class="nav-item dropdown">

                <a class="nav-link dropdown-toggle" href="#" id="notificationMenu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <b>
                        <i class="fas fa-bell header-icon-size"><span *ngIf="showNotifications" style="font-size: 12px;"
                                class="badge badge-danger">{{notificationsCount}}</span></i>
                    </b>
                </a>
                <div class="dropdown-menu" aria-labelledby="notificationMenu">
                    <div class="dropdown-item" *ngIf="showNotifications">
                        <span>You have {{notificationsCount}} <br>board join request <a href="javascript:void();"
                                routerLink="/settings">Go</a></span>
                    </div>
                    <div class="dropdown-item" *ngIf="!showNotifications">
                        <span>No Notifications</span>
                    </div>
                </div>
            </li>


        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img [src]="profileImage" class="img-circle profileAvatar">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="validUser">
                <a class="dropdown-item" href="javascript:void(0);" routerLink="/settings">
                    <i class="fas fa-cog"></i>&nbsp; Settings</a>
                <a class="dropdown-item" href="javascript:void(0);" (click)="goToUserProfile()">
                    <i class="far fa-user-circle"></i>&nbsp; Profile</a>
                <a class="dropdown-item" href="javascript:void(0);" routerLink="/reportus">
                    <i class="fa fa-question-circle"></i>&nbsp; Report Us </a>
                <a class="dropdown-item" href="#" routerLink="/help">
                    <i class="fab fa-hire-a-helper"></i>&nbsp; Help </a>
                <!-- <a class="dropdown-item" href="javascript:void(0);" routerLink="/about">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; About </a> -->
                <a class="dropdown-item" href="javascript:void(0);" (click)="onLoggedout()">
                    <i class="fa fa-fw fa-power-off"></i>&nbsp; Log Out </a>
            </div>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" *ngIf="!validUser">
                <a class="dropdown-item" href="javascript:void(0);" routerLink="/login">
                    <i class="fas fa-sign-in-alt"></i>&nbsp; Log In </a>
                <a class="dropdown-item" href="#" routerLink="/help">
                    <i class="fab fa-hire-a-helper"></i>&nbsp; Help </a>
                <!-- <a class="dropdown-item" href="javascript:void(0);" routerLink="/about">
                    <i class="fa fa-info-circle" aria-hidden="true"></i>&nbsp; About </a> -->
            </div>
        </li>
    </ul>
</section>

<section>
    <p-sidebar [(visible)]="showSideMenuDialog" [blockScroll]="true" [fullScreen]="true" [baseZIndex]="10000">
        <div class="header">
            <b>Menu</b>
            <div style="float:right">
                <button type="button" class="close" (click)="showSideMenuDialog = false">
                    <i class="fas fa-times iconSize"></i>
                </button>
            </div>
        </div>

        <section>
            <ul class="nav nav-tabs justify-content-center nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="topics-tab" data-toggle="tab" href="#topics" role="tab" aria-controls="topics" aria-selected="true">Topics</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="rightnav-tab" data-toggle="tab" href="#rightnav" role="tab" aria-controls="rightnav" aria-selected="false">RightMenu</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="topics" role="tabpanel" aria-labelledby="topics-tab">
                    <side-menu></side-menu>
                </div>
                <div class="tab-pane fade" id="rightnav" role="tabpanel" aria-labelledby="rightnav-tab">
                    <right-menu></right-menu>
                </div>
            </div>
        </section>
    </p-sidebar>
</section>

<section>
        <create-post [isHeader]="headerValue"></create-post>
</section>