<section style="position: fixed;">
    <div>
        <div *ngFor="let menu of menuList">
            <div>
                <label>
                    <b>{{menu.title}}</b>
                </label>
                <span class="float-right" *ngIf="varShowSectionSettings">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="showSectionSettingsM()">
                        <i class="fas fa-cog"></i>
                    </a>
                </span>
                <span class="float-right" *ngIf="varShowSectionOptions">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="showAddCategoryDialog()">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="saveSectionSettings()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="cacelSectionSettings()">
                        <i class="fas fa-times"></i>
                    </a>
                </span>
            </div>
            <hr class="hrMenu">
            <ul style="margin-left: -20px;">
                <li *ngFor="let section of menu.sections" [ngClass]="{active: isActive(section.name)}" style="padding-bottom: 12px;">
                    <span>
                        <span (click)="select(section.name);">
                            <i class="fas fa-chevron-right" *ngIf="!isActive(section.name)"></i>
                            <i class="fas fa-chevron-down" *ngIf="isActive(section.name)"></i>&nbsp;&nbsp; {{section.name}}
                        </span>
                        <span class="float-right" *ngIf="varShowSectionOptions">
                            <a href="javascript:void(0);" (click)="showAddCategoryDialog()" class="sectionOptIconsColor">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="javascript:void(0);" class="sectionOptIconsColor">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                    <ul style="display:none; margin-left: 0px;">
                        <li *ngFor="let category of section.categories">
                            <a href="javascript:void(0);" (click)="selectedCategory(section.name, category.name)">{{category.name}}</a>
                            <span class="float-right" *ngIf="varShowSectionOptions">
                                <a href="javascript:void(0);" class="sectionOptIconsColor" *ngIf="category.name != 'HOME'">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</section>
