<section style="position: fixed;">
    <div>
        <ul *ngFor="let menu of menuList" style="margin-left: 25px;padding-top: 10px;font-size: 15px; line-height: 1.7;">
            <li>
                <label>
                    <b>{{menu.title}}</b>
                </label>
                <!-- <span class="float-right" *ngIf="!menu.select">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="menu.select = true">
                        <i class="fas fa-cog"></i>
                    </a>
                </span> -->
                <span class="float-right" *ngIf="menu.select">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="showAddSectionDialog(sectionDialog)">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="saveSectionSettings()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="menu.select = false">
                        <i class="fas fa-times"></i>
                    </a>
                </span>
            </li>
            <li *ngFor="let section of menu.sections" [ngClass]="{active: isActive(section.name)}" style="padding-bottom: 12px;">
                <span>
                    <span style="font-size: 14px;" (click)="select(section.name);">
                        <i class="fas fa-chevron-right" *ngIf="!isActive(section.name)"></i>
                        <i class="fas fa-chevron-down" *ngIf="isActive(section.name)"></i>&nbsp;&nbsp; {{section.name}}
                    </span>
                    <span class="float-right" style="padding-left: 20px;" *ngIf="menu.select">
                        <a href="javascript:void(0);" (click)="showAddCategoryDialog(categoryDialog)" class="sectionOptIconsColor">
                            <i class="fas fa-plus"></i>
                        </a>
                        <a href="javascript:void(0);" class="sectionOptIconsColor">
                            <i class="fas fa-times"></i>
                        </a>
                    </span>
                </span>
                <ul style="display:none; margin-left: -10px;font-size: 13px;">
                    <li *ngFor="let category of section.categories">
                        <a href="javascript:void(0);" style="color: black;" [routerLink]="['/noticer']" [queryParams]="{'type':section.code,'category':category.name }"
                            (click)="selectedCategory(section.code, category.name)" [class.selected]="section.code+category.name === selectedItem">&nbsp;
                            {{category.name}}</a>
                        <span class="float-right" *ngIf="menu.select">
                            <a href="javascript:void(0);" class="sectionOptIconsColor" *ngIf="category.name != 'HOME'">
                                <i class="fas fa-trash"></i>
                            </a>
                        </span>
                    </li>
                </ul>
            </li>
        </ul>


        <!-- <div *ngFor="let menu of menuList">
            <ul>
                <label>
                    <b>{{menu.title}}</b>
                </label>
                <span class="float-right" *ngIf="!menu.select">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="menu.select = true">
                        <i class="fas fa-cog"></i>
                    </a>
                </span>
                <span class="float-right" *ngIf="menu.select">
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="showAddSectionDialog(sectionDialog)">
                        <i class="fas fa-plus"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="saveSectionSettings()">
                        <i class="fas fa-check"></i>
                    </a>
                    <a href="javascript:void(0);" class="sectionOptIconsColor" (click)="menu.select = false">
                        <i class="fas fa-times"></i>
                    </a>
                </span>
            </ul>
            <hr class="hrMenu">
            <ul style="margin-left: -20px;">
                <li *ngFor="let section of menu.sections" [ngClass]="{active: isActive(section.name)}" style="padding-bottom: 12px;">
                    <span>
                        <span (click)="select(section.name);">
                            <i class="fas fa-chevron-right" *ngIf="!isActive(section.name)"></i>
                            <i class="fas fa-chevron-down" *ngIf="isActive(section.name)"></i>&nbsp;&nbsp; {{section.name}}
                        </span>
                        <span class="float-right" style="padding-left: 20px;" *ngIf="menu.select">
                            <a href="javascript:void(0);" (click)="showAddCategoryDialog(categoryDialog)" class="sectionOptIconsColor">
                                <i class="fas fa-plus"></i>
                            </a>
                            <a href="javascript:void(0);" class="sectionOptIconsColor">
                                <i class="fas fa-times"></i>
                            </a>
                        </span>
                    </span>
                    <ul style="display:none; margin-left: 0px;">
                        <li *ngFor="let category of section.categories">
                            <a href="javascript:void(0);" [routerLink]="['/noticer']" [queryParams]="{'type':section.code,'category':category.name }" (click)="selectedCategory(section.code, category.name)" [class.selected]="section.code+category.name === selectedItem">&nbsp; {{category.name}}</a>
                            <span class="float-right" *ngIf="menu.select">
                                <a href="javascript:void(0);" class="sectionOptIconsColor" *ngIf="category.name != 'HOME'">
                                    <i class="fas fa-trash"></i>
                                </a>
                            </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>
</section>


<section>
    <ng-template #sectionDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Section</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>Section: </label>
                    <select class="form-control form-control-sm">
                        <option>Select</option>
                    </select>
                </div>
                <input class="form-control form-control-sm" type="text" placeholder="Comments">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="saveModelSecions()">Save</button>
        </div>
    </ng-template>

    <ng-template #categoryDialog let-c="close" let-d="dismiss">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Add Category</h4>
            <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <form>
                <div class="form-group">
                    <label>Category: </label>
                    <select class="form-control form-control-sm">
                        <option>Select</option>
                        <option>CAT</option>
                        <option>GMAT</option>
                        <option>MAT</option>
                    </select>
                </div>
                <input class="form-control form-control-sm" type="text" placeholder="Comments">
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success" (click)="saveModelCategories()">Save</button>
        </div>
    </ng-template>
</section>