.file-preview-1 > img{
	max-width: 50% !important;
	max-height: 50% !important;
}

.file-preview-2 > img{
	max-width: 50% !important;
	max-height: 50% !important;
}

.file-preview-3 > img{
	max-width: 33% !important;
	max-height: 33% !important;
}

.file-preview-4 > img{
	max-width: 25% !important;
	max-height: 25% !important;
}