/* body https://www.w3schools.com/howto/howto_css_contact_chips.asp*/
 
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color:rgb(66, 134, 244) !important; 
  }
  
  .mat-radio-button.mat-accent .mat-radio-inner-circle{
    color:rgb(66, 134, 244) !important;
    background-color:rgb(66, 134, 244) !important;
  }
  
  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
      background-color:rgb(255, 37, 37,.26) !important;
  }



.mat-checkbox-checked.mat-accent .mat-checkbox-background, .mat-checkbox-indeterminate.mat-accent .mat-checkbox-background {
    background-color: #3490d3 !important;
}


/* left side boards links css */
.selected{
      border-radius: 5px !important;
}

li>a{
 /* padding :5px; */
}

/*notifaction count */
.notification-count{
    position: relative;
    top: -15px;
    left: -9px;
}
.notification-label{
  margin-left: -8px !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #fff;
    background-color: transparent !important;
}
.overflowText{
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.bd-callout-info {
    border-left-color: #5bc0de !important;
}
.bd-callout-open {
    border-left-color: #f0ad4e;
}
.bd-callout-danger {
    border-left-color: #c82333 !important;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

/*.dropdown-notifications > .dropdown-container, .dropdown-notifications > .dropdown-menu {
    width: 450px;
    max-width: 450px;
}
.show > .dropdown-container > .dropdown-menu, .show > .dropdown-container {
    display: block;
}
.dropdown-position-bottomright {
    right: 0;
    left: auto;
}
.dropdown-container {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 200px;
    max-width: 330px;
    margin: 2px 0 0;
    list-style: none;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    background-clip: padding-box;
}

.dropdown-notifications .dropdown-menu {
    padding: 0;
}
.dropdown-container > .dropdown-menu {
    position: static;
    z-index: 1000;
    float: none!important;
    padding: 10px 0;
    margin: 0;
    border: 0;
    background: transparent;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    max-height: 330px;
    overflow-y: auto;
}
.notification {
    display: block;
    padding: 9.6px 12px;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: #eeeeee;
    background-color: #fff;
    color: #333333;
    text-decoration: none;
}
.media:first-child {
    margin-top: 0;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.media {
    margin-top: 15px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-left, .media>.pull-left {
    padding-right: 10px;
}
.notification .media-body {
    padding-top: 5.6px;
}
.media-left, .media-right, .media-body {
    display: table-cell;
    vertical-align: top;
}
.media-body {
    width: 10000px;
}
.media, .media-body {
    zoom: 1;
    overflow: hidden;
}
.media-object {
    display: block;
}
/* Custom spinner(loader) */
.loader {
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3b7ac7;
    width: 45px;
    height: 45px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .marT12{
    margin-top: 12px;
  }

  .fntRed{
    color: red;
  }

  .fntBlack{
    color:black;
  }

  .fntGreen{
    color: #155a24;
  }

  a:hover{
    color: #155a24 !important;
    text-decoration: none !important;
}

.btnDanger{
  background-color: #dc3545 !important;
}

.btnSuccess{
  background-color: #155a24 !important;
}

.bg { 
 
  background-image: url("assets/images/bg-img3.jpg");
 
  height: 100%; 
 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.modalHeight{
    height: 500px;
    overflow-y: auto;
    overflow-x: hidden;
}
 

@media (min-width: 1200px){

.container {
    max-width: 1150px !important;
}
}

@media (min-width: 992px){

 
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){

.container {
    max-width: 720px;
}
}

@media (min-width: 576px){

.container {
    max-width: 540px;
}
}

.card-font{
    white-space: pre-wrap;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: medium-content-serif-font,Georgia,Cambria,"Times New Roman",Times,serif;
     
 }

 .card-font-post-content{
    white-space: pre-wrap;
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
     
    color: rgba(0,0,0,.80);
    line-height: 1.68;
 }

 .breadcrumb{
     background-color: transparent !important;
 }

 .likeFont{
    color:#5CACEE;
    font-size: 18px;
 }

 .normalLikeFont{
    color:gray;
    font-size: 18px;
 }

 .favoriteFont{
    color:#FFDF00;
    font-size: 18px;
 }
 .normalFavoriteFont{
    color:gray;
    font-size: 18px;
 }

.noticer-card-header  {
    padding: .5rem 0.50rem !important;
}
.noticer-card  {
    padding: .5rem 0.50rem !important;
}

#postActions.dropdown-toggle::after {
    display: none;
}
.cursor-pointer{
    cursor: pointer
}

/* preview container */
.image-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.5s ease;
}
.card:hover .image-overlay {
  display: block;
  background: rgba(255, 255, 255, .7);
}
.button-overlay{
  position: absolute;
  left:30%;
  top: 160px;
  opacity: 0;
  transition: opacity .35s ease;
}


.card:hover .button-overlay {
  opacity: 1;
}
/*
.mat-dialog-container{
  padding-left:8px !important;
  padding-right:8px !important;
}*/
.cdk-overlay-pane{
  max-width: 95vw !important;
}
.has-error {
    border:1px solid #ff0000 !important; 
 
}