<section class="container marTop50">
    <div class="row">
        <div class="col-md-3 col-sm-3 d-none d-sm-block">
        </div>
        <div [class]="!isMobile ? 'col-md-6' : 'col-md-12'">
            <mat-tab-group mat-stretch-tabs>
                <mat-tab label="Boards">
                    <admin-board [fromChild] = "institute" [fromChildDepts]="listOfDepartments"></admin-board>
                </mat-tab>
                <mat-tab label="Groups">
                    <admin-group [fromChild] = "institute" [fromChildDepts]="listOfDepartments"></admin-group>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div class="col-md-3 col-sm-3 d-none d-sm-block"></div>
    </div>
</section>